<div class="row mt-4">
    <div class="col-6 offset-3">
        <div class="card">

            <div class="card-header">
                <h2>Reset Password</h2>
            </div>

            <div class="card-body">
                <form ngNoForm [formGroup]="changePasswordForm">
                <div *ngIf="formStatus.message != ''" class="alert" [ngClass]="formStatus.success ? 'alert-success' : 'alert-danger' ">
                    {{ formStatus.message }}
                </div>
                <div class="row">
                    <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" required type="password">
                    </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="confirmPassword" required type="password">
                    </mat-form-field>
                    </div>
                </div>
                </form>
            </div>

            <div class="card-footer">
                <button class="btn btn-success pull-right" (click)="submit()">Submit</button>
            </div>


        </div>
    </div>
</div>