@import 'app-colors';

.profile-banner {
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;

  .profile-image-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .profile-banner-profile-label {
      position: relative;

      &:hover {
        p {
          visibility: visible;
          opacity: 1;

          transition: opacity 0.5s linear;
        }
      }

      img {
        width: 150px;
        height: 150px;
        cursor: pointer;
      }

      p {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0;
        margin: 0;
        height: 30px;
        width: 100%;
        text-align: center;
        background-color: rgba(104, 87, 201,0.95);
        clip-path: circle(75px at 75px -45px);
        color: white;
        cursor: pointer;

        transition: visibility 0s 0.5s, opacity 0.5s linear;
      }
    }
  }

  .profile-banner-cover-label {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}

.form-section-header {
  color: $color-pink;
}
