<content-page-header title="Account Settings"></content-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a routerLink="." >My Profile</a></li>
            <li><a routerLink="company">Company Profile</a></li>
            <li><a routerLink="security-and-privacy">Security & Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
