<content-page-header title="Jobs Posted" [breadcrumbs]="true"></content-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="simple-toolbar container-fluid">
        <div class="simple-toolbar-body row">
          <!-- Left Side -->
          <div class="col">
            <div class="input-group filter">
              <input id="filter" class="form-control" placeholder="Filter" type="text">
              <div class="input-group-append">
                <div class="input-group-text">
                  <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Side -->
          <div class="col right-side">
            <ul class="list-unstyled mr-2">
              <li><a class="btn btn-primary btn-sm" title="Create New Job" [routerLink]="'create'">Create Job</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-0">
          <ng-container [ngTemplateOutlet]="jobTable"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #jobTable>
  <table class="w-100" [dataSource]="jobs$ | async" mat-table>
    <!-- Col: ID -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.id }} {{ elm | json }}</td>
    </ng-container>

    <!-- Col: Title -->
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>Job Title</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.name }}</td>
    </ng-container>

     <!-- Col: Majors -->
     <ng-container matColumnDef="majors">
      <th *matHeaderCellDef mat-header-cell>Majors</th>
      <td *matCellDef="let elm" mat-cell>
        <span *ngFor="let item of elm.majors; let isLast=last">
          {{ item.name }}{{isLast ? '' : ', '}}
        </span>
      </td>
    </ng-container>

    <!-- Col: Employment Type -->
    <ng-container matColumnDef="employmentType">
      <th *matHeaderCellDef mat-header-cell>Employment Type</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.employmentType | employmentTypeToString }}</td>
    </ng-container>

    <!-- Col: Deadline -->
    <ng-container matColumnDef="applicationDeadline">
      <th *matHeaderCellDef mat-header-cell>Deadline</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.applicationDeadline | date:'MMMM d, yyyy' }}</td>
    </ng-container>

    <!-- Col: Interested Applicants -->
    <ng-container matColumnDef="candidates">
      <th *matHeaderCellDef mat-header-cell>Interested Candidates</th>
      <td *matCellDef="let elm" mat-cell>
        <a routerLink="/e/job/{{ elm.id }}/applicants" [state]="{ data: elm }">
          <span class="badge badge-pill badge-primary text-center p-1">{{ (elm.matches | where:isInterested).length }}</span>
        </a>
      </td>
    </ng-container>

    <!-- Col: Actions -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let elm" mat-cell>
        <a [routerLink]="[elm.id]" [state]="{ data: elm }">
          <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
        </a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
  </table>
</ng-template>
