<!--Page Sidebar Start-->
<div class="sidebar-user text-center">
  <div *ngIf="profile$ | async; let user">
    <img class="img-50 rounded-circle" alt="Profile Picture" [src]="user.profilePicture">
    <h6 class="mt-3 f-12">{{ user.firstName }} {{ user.lastName }}</h6>
  </div>
</div>
<ul class="sidebar-menu">
  <!-- 1st level Menu -->
  <li *ngFor="let menuItem of menuItems">
    <div class="sidebar-title" *ngIf="menuItem.headTitle">
      {{menuItem.headTitle}}
      <span class="badge badge-{{menuItem.badgeType}} pull-right"
            *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
    </div>
    <!-- Sub -->
    <a class="sidebar-header" href="javascript:void(0)" *ngIf="menuItem.type === 'sub'">
      <i [class]="menuItem.icon"></i><span>{{menuItem.title}} <span class="badge badge-{{menuItem.badgeType}} ml-3"
                                                                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
      <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
    </a>
    <!-- Link -->
    <a class="sidebar-header" routerLinkActive="active" *ngIf="menuItem.type === 'link'"
       [routerLink]="!menuItem.type ? null : [menuItem.path]" [ngStyle]="{ 'pointer-events' : menuItem.title === 'Interviews' ? 'none' : null }" >
      <i [class]="menuItem.icon"></i><span>{{menuItem.title}} <span class="badge badge-{{menuItem.badgeType}} ml-3"
                                                                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
      <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
    </a>
    <!-- External Link -->
    <a class="sidebar-header" href="{{ !menuItem.type ? null : menuItem.path }}" *ngIf="menuItem.type === 'extLink'">
      <i [class]="menuItem.icon"></i><span>{{menuItem.title}} <span class="badge badge-{{menuItem.badgeType}} ml-3"
                                                                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
      <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
    </a>
    <!-- External Tab Link -->
    <a class="sidebar-header" href="{{ !menuItem.type ? null : menuItem.path }}" target="_blank"
       *ngIf="menuItem.type === 'extTabLink'">
      <i [class]="menuItem.icon"></i><span>{{menuItem.title}} <span class="badge badge-{{menuItem.badgeType}} ml-3"
                                                                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
      <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
    </a>
    <!-- 2nd Level Menu -->
    <ul class="sidebar-submenu" *ngIf="menuItem.children">
      <li *ngFor="let childrenItem of menuItem.children">
        <!-- Sub -->
        <a href="javascript:void(0)" *ngIf="childrenItem.type === 'sub'">
          <i class="fa fa-angle-right"></i>{{childrenItem.title}} <span
          class="badge badge-{{childrenItem.badgeType}} pull-right"
          *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
          <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
        </a>
        <!-- Link -->
        <a routerLinkActive="active" *ngIf="childrenItem.type === 'link'"
           [routerLinkActiveOptions]="{exact: true}" [routerLink]="!childrenItem.type ? null : [childrenItem.path]">
          <i class="fa fa-angle-right"></i>{{childrenItem.title}} <span
          class="badge badge-{{childrenItem.badgeType}} pull-right"
          *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
          <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
        </a>
        <!-- External Link -->
        <a href="{{ !childrenItem.type ? null : childrenItem.path }}" routerLinkActive="active"
           *ngIf="childrenItem.type === 'extLink'" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-angle-right"></i>{{childrenItem.title}} <span
          class="badge badge-{{childrenItem.badgeType}} pull-right"
          *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
          <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
        </a>
        <!-- External Tab Link -->
        <a href="{{ !childrenItem.type ? null : childrenItem.path }}" target="_blank"
           *ngIf="childrenItem.type === 'extTabLink'">
          <i class="fa fa-angle-right"></i>{{childrenItem.title}} <span
          class="badge badge-{{childrenItem.badgeType}} pull-right"
          *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
          <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
        </a>
        <!-- 3rd Level Menu -->
        <ul class="sidebar-submenu" *ngIf="childrenItem.children">
          <li *ngFor="let childrenSubItem of childrenItem.children">
            <!-- Link -->
            <a routerLinkActive="active"
               *ngIf="childrenSubItem.type === 'link'" [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]">
              <i class="fa fa-angle-right"></i>{{childrenSubItem.title}} <span
              class="badge badge-{{childrenSubItem.badgeType}} pull-right"
              *ngIf="childrenSubItem.badgeType">{{childrenSubItem.badgeValue}}</span>
            </a>
            <!-- External Link -->
            <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}"
               routerLinkActive="active" *ngIf="childrenSubItem.type === 'extLink'"
               [routerLinkActiveOptions]="{exact: true}">
              <i class="fa fa-angle-right"></i>{{childrenSubItem.title}} <span
              class="badge badge-{{childrenSubItem.badgeType}} pull-right"
              *ngIf="childrenSubItem.badgeType">{{childrenSubItem.badgeValue}}</span>
            </a>
            <!-- External Tab Link -->
            <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" target="_blank"
               *ngIf="childrenSubItem.type === 'extTabLink'">
              <i class="fa fa-angle-right"></i>{{childrenSubItem.title}} <span
              class="badge badge-{{childrenSubItem.badgeType}} pull-right"
              *ngIf="childrenSubItem.badgeType">{{childrenSubItem.badgeValue}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div class="sidebar-widget text-center">
  <div class="sidebar-widget-top">
    <i class="icon-plug"></i>
  </div>
  <div class="sidebar-widget-bottom p-20 m-20">
    <p>
      <a [routerLink]="'/company'">About</a>
      <br><a [routerLink]="'/company/legal/terms-of-use'">Terms Of Use</a>
      <br><a [routerLink]="'/company/legal/privacy-policy'">Privacy Policy</a>
      <br><a [routerLink]="'/company/support/faq'">FAQ</a>
    </p>
  </div>
</div>
