@use 'app-colors' as *;
@use 'app-functions' as *;
@use 'app-mixins' as *;

// ////////////////////////////////////////////////
// Buttons                                       //
// ////////////////////////////////////////////////
.app-btn {
  padding: calcRem(14) calcRem(24);
  border-radius: 4px;
  font-size: calcRem(14);
  line-height: 1.14em;

  &#{&}-primary {
    border: none;
    outline: 0;
    background-color: $color-orange;
    color: white;

    &:hover {
      background-color: darken($color-orange, 10%);
    }

    &:active {
      transform: scale(0.99);
    }
  }
}

// ////////////////////////////////////////////////
// Call To Action: Download                      //
// ////////////////////////////////////////////////
.cta-download {
  $badge-width: 162px;
  $badge-height: 54px;

  @include font-roboto;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-badge {
    width: calcVw($badge-width, 1440px);
    height: calcVw($badge-height, 1440px);
    margin: calcVw($badge-height / 4, 1440px) calcVw($badge-height / 6, 1440px) 0;
  }

  .header {
    font-weight: bold;
    font-size: scaleByViewportWidth(8px, 32px, 320px, 1440px);
    line-height: 1.09em;
    text-align: center;
    color: white;
  }

  .body {
    display: flex;
    justify-content: center;
  }
}

// ////////////////////////////////////////////////
// Simple Toolbar                                //
// ////////////////////////////////////////////////
.simple-toolbar {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0.25em;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  &-body {
    padding: 8px 16px;

    .right-side > ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    mat-icon {
      font-size: 100%;
    }
  }
}

// ////////////////////////////////////////////////
// Readonly Form Field                           //
// ////////////////////////////////////////////////
.readonly-field {
  position: relative;
  display: inline-block;
  width: 100%;
  //height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: text;

  &-label {
    position: relative;
    top: -6px;
    left: 13px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;

    span {
      position: absolute;
      z-index: 0;

      &::before {
        position: absolute;
        left: -3px;
        right: -3px;
        top: 6px;
        content: ' ';
        border-top: 2px solid white;
        z-index: -1;
      }
    }
  }

  &-value {
    padding: 10px;
    min-height: 43px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #d4d4d4;
    white-space: pre-wrap;
  }
}

// ////////////////////////////////////////////////
// Form Field                                   //
// ////////////////////////////////////////////////
.form-field {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  &-label {
    font-weight: bold;
  }

  &-control {
    .flex-box {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mat-radio-label {
      margin: 0;
    }
  }
}


