@use 'app-colors' as *;

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calcRem(14);
  line-height: 1.4;
}

@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calcRem(14);
  line-height: 1.4;
}

@mixin aspect-ratio-image-box($img-url, $img-width, $img-height) {

  @if (str-length($img-url) > 0) {
    background-image: url($img-url);
  }

  background-size: contain;
  background-repeat: no-repeat;

  &::before {
    content: '';
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: percentage($img-height / $img-width);
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/// Sets `background` property to a specified linear-gradient with fallback.
///
/// @param {String} $angle - The *gradient line's* direction
/// @param {String} $startColor
/// @param {String} $endColor
@mixin gradient-background($angle, $startColor, $endColor) {
  background: $endColor;
  background: -webkit-linear-gradient(#{$angle}, $startColor, $endColor);
  background: -o-linear-gradient(#{$angle}, $startColor, $endColor);
  background: -moz-linear-gradient(#{$angle}, $startColor, $endColor);
  background: linear-gradient(#{$angle}, $startColor, $endColor);
}

@mixin gradient-background-primary() {
  @include gradient-background('to right', $color-deep-purple, $color-deep-blue);
}
