$color-brand-facebook-blue: #4267B2;
$color-brand-twitter-blue: #1DA1F2;
$color-brand-youtube-red: #FD1B00;

$color-baby-blue: #4A7DE8;
$color-dark-blue: #00367C;
$color-dark-gray: #6A6A6A;
$color-dark-orange: #FF6565;
$color-deep-blue: #2575fc;
$color-deep-purple: #6a11cb;
$color-light-gray: #AFAFAF;
$color-light-purple: #7B77F2;
$color-lighter-purple: #B4B2FC;
$color-orange: #FB9720;
$color-pink: #AB8CE3;
$color-purple: #6853C4;

$colors: (
  // brand colors
  'brand-facebook-blue': $color-brand-facebook-blue,
  'brand-twitter-blue': $color-brand-twitter-blue,
  'brand-youtube-red': $color-brand-youtube-red,
  // application colors
  'baby-blue': $color-baby-blue,
  'dark-blue': $color-dark-blue,
  'dark-gray': $color-dark-gray,
  'dark-orange': $color-dark-orange,
  'deep-blue': $color-deep-blue,
  'deep-purple': $color-deep-purple,
  'light-gray': $color-light-gray,
  'light-purple': $color-light-purple,
  'lighter-purple': $color-lighter-purple,
  'orange': $color-orange,
  'pink': $color-pink,
  'purple': $color-purple,
);
