@import "decimal";

/// Removes the unit of a length
///
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
///
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/// Converts px unit to rem unit
///
/// @param {Number} $number - Pixel value to be converted
/// @return {Number} - Rem converted value
///
@function calcRem($pixel) {
  @return strip-unit($pixel) / 16 * 1rem;
}

@function calcVw($size, $window-size, $precision: 2) {
  $scalar: (($size / $window-size) * 100);
  @return decimal-round($scalar, $precision, ceil) * 1vw;
}

/// Dynamically scales a given length proportionality to the current viewport width
///
/// @param {Number} $min-length - Minimum length
/// @param {Number} $max-length - Maximum length
/// @param {Number} $min-viewport [320px] - Minimum viewport width
/// @param {Number} $max-viewport [1440px] - Maximum viewport width
///
/// @returns {Calc}
///
@function scaleByViewportWidth($min-length, $max-length, $min-viewport: 320px, $max-viewport: 1440px) {
  $a: strip-unit($max-length - $min-length);
  $x: calc((calc(100vw - #{$min-viewport}) / #{strip-unit($max-viewport - $min-viewport)}));
  $c: $min-length;

  @return calc(#{$a} * #{$x} + #{$c})
}
