@use 'app-mixins' as *;

a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;

  &:focus {
    outline: none !important;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
}

ul, li {
  margin: 0;
  list-style-type: none;
}

input {
  outline: none;
  border: none;

  &:focus {
    border-color: transparent !important;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-moz-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color: #999999;
    }

    &:-moz-placeholder {
      color: #999999;
    }

    &::-moz-placeholder {
      color: #999999;
    }

    &:-ms-input-placeholder {
      color: #999999;
    }
  }
}

textarea {
  outline: none;
  border: none;

  &:focus {
    border-color: transparent !important;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-moz-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color: #999999;
    }

    &:-moz-placeholder {
      color: #999999;
    }

    &::-moz-placeholder {
      color: #999999;
    }

    &:-ms-input-placeholder {
      color: #999999;
    }
  }
}

label {
  display: block;
  margin: 0;
}

button {
  outline: none !important;
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

// //////////////////
// TEXT
// //////////////////////////////////////
.wrap-text {
  width: 100%;
  padding-top: 23px;
}

.text-regular {
  font-size: 13px;
  line-height: 1.4;
  color: #cccccc;
}

// /////////////////
// CONTAINER
// /////////////////////////////////////
.container-auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  border-radius: inherit;
  @include gradient-background-primary;

  &:host {
    border-radius: inherit;
  }
}

.wrap-form {
  width: 560px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrap-container {
  background-color: white;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-title {
  width: 100%;
  display: block;
  font-size: 30px;
  color: #fefefe;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 15px;
}

// /////////////////
// FORM
// /////////////////////////////////////
.auth-form {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

// //////////////////
// INPUT
// //////////////////////////////////////
.wrap-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 50%;
  height: 75px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  background-color: #fff;

  &.full {
    width: 100%;

    &:first-of-type {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }

  &.top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &.rs1 {
    border-top-left-radius: 12px;
    border-right: none;
  }

  &.rs2 {
    border-top-right-radius: 12px;
  }
}

.label-input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 30px;
  left: 0;
  top: 28px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 30px;

  &:focus {
    height: 55px;

    & + .label-input {
      top: 10px;
      font-size: 13px;
      color: #111111;
    }
  }

  &.has-val {
    height: 55px !important;

    & + .label-input {
      top: 10px;
      font-size: 13px;
      color: #111111;
    }
  }
}

input.input {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

// //////////////////
// BUTTON
// //////////////////////////////////////
.wrap-button {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.button {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  background: #111111;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;

  &.ls {
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 0.4s linear, opacity 0.4s linear;
    -moz-transition: visibility 0.4s linear, opacity 0.4s linear;
    -ms-transition: visibility 0.4s linear, opacity 0.4s linear;
    -o-transition: visibility 0.4s linear, opacity 0.4s linear;
    transition: visibility 0.4s linear, opacity 0.4s linear;

    fa-icon {
      visibility: hidden;
      opacity: 0;

      -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
      -moz-transition: visibility 0.3s linear, opacity 0.3s linear;
      -ms-transition: visibility 0.3s linear, opacity 0.3s linear;
      -o-transition: visibility 0.3s linear, opacity 0.3s linear;
      transition: visibility 0.3s linear, opacity 0.3s linear;

      transition-delay: 0.15s;
    }

    &.visible {
      visibility: visible;
      opacity: 1;

      fa-icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.rs {
    position: absolute;
    right: 0;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;

    background: #2575fc;
    background: -webkit-linear-gradient(to left, #6a11cb, #2575fc);
    background: -o-linear-gradient(to left, #6a11cb, #2575fc);
    background: -moz-linear-gradient(to left, #6a11cb, #2575fc);
    background: linear-gradient(to left, #6a11cb, #2575fc);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  &:hover {
    background-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

// //////////////////
// ALERT VALIDATE
// //////////////////////////////////////
.validate-input {
  position: relative;
}

.alert-validate {
  &::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 100;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;

    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

  &::after {
    content: '\f12a';
    display: block;
    position: absolute;
    z-index: 110;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
  }

  &:hover:before {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

// //////////////////
// RESPONSIVE
// //////////////////////////////////////
@media (max-width: 576px) {
  .wrap-input {
    width: 100%;

    &.rs1 {
      border-top-right-radius: 12px;
      border-right: 1px solid #e0e0e0;
    }

    &.rs2 {
      border-top-right-radius: 0;

    }
  }
}
