@use 'app-mixins' as *;

////
/// @group angular material
/// ### Custom Angular Material Styling
///
/// Load this file globally as Angular Material renders its elements in an overlay element, outside `<app-root>`,
/// disabling Angular components from styling such elements.
///
/// <pre>
/// file: ~/styles.scss
/// \@import 'assets/scss/custom-angular-material';
/// </pre>
////

/// Custom styling for `<mat-datepicker>` component
///
/// See: `~/src/app/_directives/mat-month-year-date-picker.directive.ts`
///
.mat-datepicker-year-month {
  .mat-calendar-period-button {
    // Prevent users from toggling mat-calendar's year/month view.
    pointer-events: none;
  }

  .mat-calendar-arrow {
    // Hide mat-calendar's year/month toggle arrow.
    display: none;
  }
}

/// Custom styling for dialog-boxes
.mat-dialog {
  /// @name .mat-dialog-auth
  &-auth {
    &-panel { // styles mat-dialog-auth-panel
      .mat-dialog-container {
        padding: 0;
        border-radius: 10px;
        background: none;
      }
    }

    &-backdrop { // styles mat-dialog-auth-backdrop
      @include gradient-background-primary;

      &.cdk-overlay-backdrop-showing {
        opacity: 0.95;
      }
    }
  }
}

