<div id="employers" class="container-fluid app-employer">
  <div class="row">
    <div class="col-12 aspect-ratio-image-box">
      <div class="row h-100">
        <div class="col-12 col-lg-4 offset-lg-2">
          <div class="call-out">
            <div class="call-out-title">
              <img alt="Corporate Office Icon" [src]="corporateOfficeIcon.src" [srcset]="corporateOfficeIcon.srcset">
              <span>Employers</span>
            </div>
            <div class="call-out-header">
              5 Very Simple Steps for Employers to Get Started With HUSB-PLUGGED
            </div>
            <div class="call-out-body">
              With over 1000+ students, HUSB-PLUGGED software is the best platform to get started to tap into our top
              talent. It is the most efficient platform for new recruiters and existing recruiters to leverage.
            </div>
            <div class="row">
              <div class="col-12 text-center text-sm-left">
                <button class="app-btn app-btn-primary" (click)="openDialog('SIGNUP')">Create Account</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="list-items">
            <div class="list-item">
              <div class="left-side">
                <div class="icon">
                  <img alt="Wallet Icon" src="/assets/images/welcome/sections/employer/icons/wallet-icon.png">
                </div>
              </div>
              <div class="right-side">
                <div class="header">
                  <span class="header-bullet">1</span>
                  <span class="header-text">Create An Account</span>
                </div>
                <div class="body">
                  Have an account already?<br>
                  Skip this step or <span class="cursor-pointer color-dark-orange" (click)="openDialog('SIGNUP')">create an account here.</span>
                </div>
              </div>
            </div>
            <div class="list-item" *ngFor="let listItem of listItems; let idx = index">
              <div class="left-side">
                <div class="icon">
                  <img [alt]="listItem.icon.alt" [src]="listItem.icon.src">
                </div>
              </div>
              <div class="right-side">
                <div class="header">
                  <span class="header-bullet">{{ (idx <= 9) ? '0' + (idx + 1) : (idx + 1) }}</span>
                  <span class="header-text">{{ listItem.header }}</span>
                </div>
                <div class="body" [innerHTML]="listItem.body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
