@use 'app' as *;
@use 'app-utility' as *;
@import 'app-components';
@import 'bootstrap-mixins';

$frame-width: 1440px; // original viewport/frame width
$frame-height: 890px; // original viewport/frame height

:host {
  @include font-roboto;
}

.app-employer {
  .aspect-ratio-image-box {
    @include aspect-ratio-image-box('/assets/images/welcome/sections/employer/employer-bg-1a.png', $frame-width, $frame-height);

    background-image: url('/assets/images/welcome/sections/employer/employer-bg-1b.png'),
    linear-gradient(64deg, #211e8c 0%, #732ebd 100%);

    background-size: calcVw(550px, $frame-width) calcVw(414px, $frame-width), contain;
    background-position: right 12px center, center;

    @include media-breakpoint-down(md) {
      background-position: center;
      background-size: 95%, contain;
    }
  }

  .call-out {
    height: 100%;
    padding: calcRem(30px) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      margin-bottom: calcRem(40);

      img {
        width: scaleByViewportWidth(50px, 70px);
        margin-right: calcRem(9px);
      }

      span {
        font-size: scaleByViewportWidth(32px, 40px);
        font-weight: 900;
        line-height: 1.15em;

        text-transform: uppercase;
        vertical-align: middle;
        color: $color-dark-orange;
      }
    }

    &-header {
      margin-bottom: calcRem(15);
      font-size: calcRem(32px);
      font-weight: bolder;
      line-height: 1.3em;
      color: white;
    }

    &-body {
      margin-bottom: calcRem(65);
      font-size: calcRem(18px);
      line-height: 1.4em;
      color: rgba(255, 255, 255, 70%);
    }
  }

  .list-items {
    height: 100%;
    padding: calcRem(30px) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .list-item:not(:last-of-type) {
      margin-bottom: calcRem(33);
    }
  }

  .list-item {
    display: flex;
    flex-direction: row;

    .left-side {
      margin-right: calcRem(15px);

      .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;

        background-color: rgba(255, 255, 255, 5%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 10%);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 47%;
        }
      }
    }

    .right-side {
      width: 100%;

      .header {
        position: relative;

        .header-bullet {
          position: relative;
          left: -3px;

          @include font-montserrat;
          font-size: calcRem(48px);
          font-weight: 900;
          line-height: 1em;
          color: rgba(255, 255, 255, 5%);
        }

        .header-text {
          position: absolute;
          left: 0;
          bottom: 0;

          font-size: calcRem(18px);
          font-weight: 500;
          line-height: 1.4em;
          color: white;
        }
      }

      .body {
        font-size: calcRem(16px);
        line-height: 1.4em;
        color: rgba(255, 255, 255, 70%);
      }
    }
  }
}
