<div class="row mt-4">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <p>{{ message }}</p>
        <p *ngIf="isDone">Please wait while we redirect you.</p>
      </div>
    </div>
  </div>
</div>
