@import '../../../../assets/fonts/fonts';
@import 'app-colors';

.panel {
  border-radius: 8px;
  box-shadow: 2px 2px 4px #777;

  a {
    color: white;
  }

  &-header {
    height: 50px;
    background-color: $color-purple;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid $color-purple;
    border-bottom: 2px solid lightgray;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      color: white;
      margin: 0;

      fa-icon:first-of-type {
        margin-right: 8px;
      }

      > fa-icon:last-of-type {
        margin: 0;
        cursor: pointer;
      }
    }
  }

  &-body {
    height: 450px;
    border: 1px solid $color-purple;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
}
