<div class="panel mb-4">
  <div class="panel-header">
    <h1>
      <a *ngIf="options.leftIcon" [routerLink]="options.leftIcon.routerLink" [title]="options.leftIcon.title">
        <fa-icon [icon]="options.leftIcon.faIcon"></fa-icon>{{ title }}
      </a>
      <a *ngIf="options.rightIcon" [routerLink]="options.rightIcon.routerLink" [title]="options.rightIcon.title" class="pull-right">
        <fa-icon [icon]="options.rightIcon.faIcon"></fa-icon>
      </a>
    </h1>
  </div>
  <div class="panel-body">
    <ng-content></ng-content>
  </div>
</div>
