<br>
<app-simple-form
  [cancelButtonText]="cancelButtonText"
  [headerTitle]="headerTitle"
  [showDeleteButton]="showDeleteButton"
  [submitButtonText]="submitButtonText"
  (cancelButtonClicked)="onCancelButtonClick($event)"
  (deleteButtonClicked)="onDeleteButtonClick($event)"
  (submitButtonClicked)="onSubmitButtonClick($event)">
  <ng-container
    *ngTemplateOutlet="tplExpansionPanels">
  </ng-container>
</app-simple-form>

<ng-template #tplExpansionPanels>
  <form ngNoForm class="theme-form mega-form row" [formGroup]="formGroup">
    <mat-accordion class="col-12" [multi]="true">
      <!-- Expansion Panel 1-->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Details</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngTemplateOutlet="tplExpansionPanel1;context:{fg:formGroup}"></ng-container>
      </mat-expansion-panel>

      <!-- Expansion Panel 2 -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Target Audience & Timeslot</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container
          *ngTemplateOutlet="tplExpansionPanel2;context:{fg:formGroup}"></ng-container>
      </mat-expansion-panel>

      <!-- Expansion Panel 3 -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Campus Event Partners</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>Once approved, the organization(s) you select will be notified via the email we have on file. It does not confirm partnership with them.</p>
        <ng-container
          *ngTemplateOutlet="tplExpansionPanel3;context:{fg:formGroup}"></ng-container>
      </mat-expansion-panel>

      <!-- Expansion Panel 4 -->
      <!-- TODO: add equipment selection -->
      <!--      <mat-expansion-panel [expanded]="true">-->
      <!--        <mat-expansion-panel-header>-->
      <!--          <mat-panel-title>Equipment</mat-panel-title>-->
      <!--          <mat-panel-description></mat-panel-description>-->
      <!--        </mat-expansion-panel-header>-->

      <!--        <ng-container-->
      <!--          *ngTemplateOutlet="tplExpansionPanel4;context:{fg:formGroup}"></ng-container>-->
      <!--      </mat-expansion-panel>-->
    </mat-accordion>
  </form>
</ng-template>

<ng-template #tplExpansionPanel1 let-formGroup="fg">
  <div [formGroup]="formGroup">
    <!-- Event Title -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Event Title</mat-label>
          <input matInput formControlName="title" type="text">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Meeting Invite Link</mat-label>
          <input matInput formControlName="meetingInviteLink" type="text">
          <mat-hint>This can be a Zoom, Microsoft Teams, Webex link.</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Contact -->
    <div class="row">
      <div class="col-6">
        <app-contact-field
          #primaryContact
          class="w-100"
          label="Primary Contact"
          (selectedContact)="onContactSelected($event, 'PRIMARY')"
          [contacts$]="contacts$">
        </app-contact-field>
      </div>
      <div class="col-6">
        <app-contact-field
          #secondaryContact
          class="w-100"
          label="Secondary Contact"
          (selectedContact)="onContactSelected($event, 'SECONDARY')"
          [contacts$]="contacts$">
        </app-contact-field>
      </div>
    </div>

    <!-- Description -->
    <div class="row">
      <div class="col-12">
        <!-- <mat-form-field class="w-100" appearance="outline"> -->
          <!-- <mat-label>Description</mat-label> -->
          <!-- <textarea matInput maxlength="2000" cols="30" formControlName="description" rows="10"></textarea> -->
          <ckeditor name="editor" [ngModelOptions]="{standalone: true}" (change)="onEditorChange($event)" [editor]="Editor" [(ngModel)]="editorModel.editorData"></ckeditor>
        <!-- </mat-form-field> -->
        <!-- <ckeditor name="editor" [ngModelOptions]="{standalone: true}" (change)="onEditorChange($event)" [editor]="Editor" [(ngModel)]="editorModel.editorData"></ckeditor> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplExpansionPanel2 let-formGroup="fg">
  <div [formGroup]="formGroup">
    <!-- Target Universities/Schools -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target University</mat-label>
          <mat-select formControlName="universities"
                      multiple
                      (selectionChange)="onUniversityChange($event)">
            <mat-option *ngFor="let value of universities$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6" *ngIf="fc.universities.valid">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target Schools</mat-label>
          <mat-select formControlName="schools"
                      multiple
                      (selectionChange)="onSchoolSelectionChange($event)">
            <mat-option *ngFor="let value of schools$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Target Classifications | Target Majors -->
    <div class="row" *ngIf="fc.schools.valid">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target Classifications</mat-label>
          <mat-select formControlName="classifications" multiple>
            <mat-option *ngFor="let value of classifications$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target Majors</mat-label>
          <mat-select formControlName="majors" multiple>
            <mat-option *ngFor="let value of majors$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Permitted Event Type | Permitted Event Timeslots -->
    <div class="row" *ngIf="fc.schools.valid">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Event Type</mat-label>
          <mat-select formControlName="type" (selectionChange)="onEventTypeSelectionChange($event)">
            <mat-option *ngFor="let value of eventTypes$ | async" [value]="value">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6" *ngIf="(eventTimeslots$ | async).length > 0">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Event Timeslot</mat-label>
          <mat-select formControlName="timeslot" (selectionChange)="onEventTimeslotSelectionChange($event)">
            <mat-select-trigger *ngIf="fc.timeslot.value; let value">
              <span>{{ value.days | join: ' ' }}</span>
              <span class="float-right">{{ timeslot(value) }}</span>
            </mat-select-trigger>
            <mat-option
              *ngFor="let value of eventTimeslots$ | async"
              [value]="value">
              <span>{{ value.days | join: ' ' }}</span><span class="float-right">{{ timeslot(value) }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Event Dates 1 | 2 | 3 -->
    <div class="row" *ngIf="selectedEventTimeslot">
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Event Date (First Choice)</mat-label>
          <input
            matInput
            formControlName="firstChoiceDate"
            [matDatepickerFilter]="timeslotFilter(0).bind(this)"
            [matDatepicker]="dpEventDate1">
          <mat-datepicker-toggle matSuffix [for]="dpEventDate1"></mat-datepicker-toggle>
          <mat-datepicker
            #dpEventDate1
            disabled="false"
            startView="multi-year"
            (monthSelected)="setEventDateMonthSelected(0, true)"
            (yearSelected)="setEventDateMonthSelected(0, false)">
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Event Date (Second Choice)</mat-label>
          <input
            matInput
            formControlName="secondChoiceDate"
            [matDatepickerFilter]="timeslotFilter(1).bind(this)"
            [matDatepicker]="dpEventDate2">
          <mat-datepicker-toggle matSuffix [for]="dpEventDate2"></mat-datepicker-toggle>
          <mat-datepicker
            #dpEventDate2
            disabled="false"
            startView="multi-year"
            (monthSelected)="setEventDateMonthSelected(1, true)"
            (yearSelected)="setEventDateMonthSelected(1, false)">
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Event Date (Third Choice)</mat-label>
          <input
            matInput
            formControlName="thirdChoiceDate"
            [matDatepickerFilter]="timeslotFilter(2).bind(this)"
            [matDatepicker]="dpEventDate3">
          <mat-datepicker-toggle matSuffix [for]="dpEventDate3"></mat-datepicker-toggle>
          <mat-datepicker
            #dpEventDate3
            disabled="false"
            startView="multi-year"
            (monthSelected)="setEventDateMonthSelected(2, true)"
            (yearSelected)="setEventDateMonthSelected(2, false)">
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplExpansionPanel3 let-formGroup="fg">
  <div [formGroup]="formGroup">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Search...</mat-label>
          <input #cpSearch matInput type="text">
        </mat-form-field>

        <mat-chip-list>
          <mat-chip selectable="false"
                    *ngFor="let selectedOption of mslCEP.selectedOptions.selected"
                    [removable]="true"
                    [value]="selectedOption.value"
                    (removed)="onCEPRemoved(selectedOption.value);selectedOption.toggle()">
            {{ selectedOption.value.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

        <mat-selection-list #mslCEP dense multiple (selectionChange)="onCEPSelectionChange($event)">
          <ng-container *ngFor="let cpType of campusPartnerTypes | keyvalue">
            <div matSubheader>{{ cpType.value }}</div>
            <mat-list-option checkboxPosition="before"
                             *ngFor="let cp of campusPartners$ | async | cpFilter:cpType.key | cpSearch:cpSearch.value"
                             [value]="cp" [disabled]="cepSelection.length == 2"
            >{{ cp.name }}</mat-list-option>
          </ng-container>
        </mat-selection-list>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #tplExpansionPanel4 let-formGroup="fg">
  <div>
    <!-- TODO: brianstorming -->
  </div>
</ng-template>
