<div class="page-main-header">
  <div class="main-header-left">
    <div class="logo-wrapper">
      <a routerLink=""><img alt="" src="assets/images/logo-light.png"/></a>
    </div>
  </div>
  <div class="main-header-right row">
    <div id="mobile-sidebar" class="mobile-sidebar">
      <div class="media-body text-right switch-sm">
        <label class="switch">
          <input id="sidebar-toggle" type="checkbox" (change)="onChange()" [(ngModel)]="sidebarToggleChecked">
          <span class="switch-state"></span>
        </label>
      </div>
    </div>
    <div class="nav-right col">
      <ul class="nav-menus" [class.open]="mobileToggleOpen">
        <li>
          <form class="form-inline search-form">
            <div class="form-group">
              <label class="sr-only">Email</label>
              <input class="form-control-plaintext" placeholder="Search.." type="search" [class.open]="mobileToggleOpen">
              <span class="d-sm-none mobile-search"></span>
            </div>
          </form>
        </li>
        <li>
          <a class="text-dark" href="javascript:void(0)" toggleFullscreen>
            <fa-icon
              class="align-self-center pull-right mr-2 fa-lg"
              alt="Fullscreen Icon"
              [icon]="['fas', 'desktop']"
            ></fa-icon>
          </a>
        </li>
        <li class="onhover-dropdown">
          <a class="txt-dark" href="javascript:void(0)" >
            <fa-icon
              class="align-self-center pull-right mr-2 fa-lg"
              alt="Notification Icon"
              [icon]="['fas', 'bell']"
            ></fa-icon>
            <!-- <span class="badge badge-pill badge-primary notification">3</span> -->
          </a>
          <ul class="notification-dropdown onhover-show-div" *ngIf="false">
            <li>Notification <span
              class="badge badge-pill badge-secondary text-white text-uppercase pull-right">3 New</span></li>
            <li>
              <div class="media">
                <i class="align-self-center notification-icon icofont icofont-shopping-cart bg-primary"></i>
                <div class="media-body">
                  <h6 class="mt-0">Your order ready for Ship..!</h6>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                  <span><i class="icofont icofont-clock-time p-r-5"></i>Just Now</span>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <i class="align-self-center notification-icon icofont icofont-download-alt bg-success"></i>
                <div class="media-body">
                  <h6 class="mt-0 txt-success">Download Complete</h6>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                  <span><i class="icofont icofont-clock-time p-r-5"></i>5 minutes ago</span>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <i class="align-self-center notification-icon icofont icofont-recycle bg-danger"></i>
                <div class="media-body">
                  <h6 class="mt-0 txt-danger">250 MB trush files</h6>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                  <span><i class="icofont icofont-clock-time p-r-5"></i>25 minutes ago</span>
                </div>
              </div>
            </li>
            <li class="text-center">You have Check <a href="javascript:void(0)">all</a> notification</li>
          </ul>

        </li>
        <li class="onhover-dropdown">
          <div class="media  align-items-center">
            <fa-icon class="align-self-center pull-right mr-2 fa-lg" alt="User Icon"
                     [icon]="['fas', 'user-tie']"></fa-icon>
            <div class="media-body">
              <h6 class="m-0 txt-dark f-16">
                My Account
                <i class="fa fa-angle-down pull-right ml-2"></i>
              </h6>
            </div>
          </div>
          <ul class="profile-dropdown onhover-show-div p-20">
            <li>
              <a routerLink="/e/account/settings">
                <i class="icon-settings"></i>
                Edit Profile
              </a>
            </li>
            <!-- todo: stash for future release -->
            <!--  <li>
               <a href="javascript:void(0)">
                 <i class="icon-email"></i>
                 Inbox
               </a>
             </li>
             <li>
               <a href="javascript:void(0)">
                 <i class="icon-check-box"></i>
                 Task
               </a>
             </li> -->
            <li>
               <a [routerLink]="['/e/chat']"> 
                <i class="icon-comments"></i>
                Chat
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <i class="icon-power-off"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-lg-none mobile-toggle">
        <i class="icon-more" (click)="onClick()"></i>
      </div>
    </div>
  </div>
</div>
