<div class="row pt-4">
    <div class="col">
      <div class="card">
        <div class="card-body p-0">
          <ng-container [ngTemplateOutlet]="interviewScheduleTable"></ng-container>
        </div>
      </div>
    </div>
</div>

<ng-template #interviewScheduleTable>
    <table mat-table [dataSource]="interviewSchedules | async" class="w-100">
        <!-- Col: Job -->
        <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef>Job</th>
        <td mat-cell *matCellDef="let elm">{{ elm.job }}</td>
        </ng-container>

        <!-- Col: Date 1 -->
        <ng-container matColumnDef="date1">
        <th mat-header-cell *matHeaderCellDef>Date 1</th>
        <td mat-cell *matCellDef="let elm">{{ elm.date1 | date: 'medium' }}</td>
        </ng-container>

        <!-- Col: Date 2 -->
        <ng-container matColumnDef="date2">
        <th mat-header-cell *matHeaderCellDef>Date 2</th>
        <td mat-cell *matCellDef="let elm">{{ elm.date2 | date: 'medium' }}</td>
        </ng-container>

        <!-- Col: Student -->
        <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef>Student</th>
        <td mat-cell *matCellDef="let elm">
            <a [routerLink]="['/e/job/', elm.id,'student-profile', elm.student.id]" [state]="{ data: elm }">
             {{ elm.student.qbCredential.qbFullName }} 
            </a>
        </td>
        </ng-container>

        <!-- Col: Actions -->
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let elm">
            <a [routerLink]="['/e/interview-type', elm.status, elm.id]" [state]="{ data: elm }">
            <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
            </a>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</ng-template>