<div class="container-fluid app-hero">
  <!-- Mobile Navbar -->
  <div class="row d-lg-none">
    <div class="col-12 p-0">
      <div class="navbar-mobile">
        <div class="navbar-mobile-controls">
          <div class="navbar-brand">
            <img class="navbar-brand-logo" alt="Plugged Logo" [src]="logo">
          </div>
          <fa-icon class="navbar-mobile-menu-icon"
                   [icon]="['fas', 'bars']"
                   (click)="navbarMenuIsCollapsed = !navbarMenuIsCollapsed"></fa-icon>
        </div>
        <div class="navbar-mobile-menu" [ngbCollapse]="navbarMenuIsCollapsed">
          <ul class="list-unstyled">
            <li><span (click)="openDialog($event, 'SIGNIN')">Login</span></li>
            <li><span (click)="openDialog($event, 'SIGNUP')">Create Account</span></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 aspect-ratio-image-box">
      <div class="row">
        <div class="col-11 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
          <!-- Navbar -->
          <div class="navbar d-none d-lg-flex">
            <div class="navbar-brand">
              <img class="navbar-brand-logo" alt="Plugged Logo" [src]="logo">
            </div>
            <div class="navbar-menu">
              <ul class="list-inline navbar-links">
                <li class="list-inline-item p-10 m-t-5 m-r-30 m-b-5">
                  <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a fragment="students" routerLink="">Students</a></li>
                    <li class="list-inline-item"><a fragment="employers" routerLink="">Employers</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Career Service Centers</a></li>
                  </ul>
                </li>
                <li class="list-inline-item m-t-5 m-b-5">
                  <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                      <span class="navbar-menu-btn border-none" (click)="openDialog($event, 'SIGNIN')">Login</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="navbar-menu-btn" (click)="openDialog($event, 'SIGNUP')">Create Account</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <!-- Call Out -->
          <div class="call-out">
            <div class="call-out-body">
              <div class="header">Hire Howard University School of Business Students With Ease</div>
              <div class="subheader">
                PLUGGED offers employers a more efficient way of connecting to Howard University School of Business
                students.
              </div>
            </div>
            <div class="text-center text-sm-right">
              <img class="call-out-image" alt="Plugged Machine Learning" [src]="machineLearningImage">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
          <!-- Spotlight -->
          <div class="spotlight">
            <div class="spotlight-pill">
              <span>Why HUSB PLUGGED?</span>
            </div>
            <div class="spotlight-body">
              <div class="title">A Revolutionary Technology That Is Secure and Private</div>
              <div class="row spotlight-features" *ngFor="let row of features ">
                <div class="col-12 col-sm-6 p-r-0" *ngFor="let feature of row">
                  <div class="feature">
                    <img class="feature-icon" alt="" [src]="feature.icon">
                    <div class="feature-header">{{ feature.header }}</div>
                    <div class="feature-item">
                      <div class="heading">Companies</div>
                      <div class="body">{{ feature.company }}</div>
                    </div>
                    <div class="feature-item">
                      <div class="heading">Students</div>
                      <div class="body">{{ feature.student }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
