@use 'app' as *;
@import 'bootstrap-mixins';

:host {
  @include font-roboto;
}

.app-hero {
  background-color: white;

  .aspect-ratio-image-box {
    @include aspect-ratio-image-box('/assets/images/welcome/sections/hero/hero-bg.png', 1200px, 587px);
  }

  .call-out {
    position: relative;
    margin-top: calcRem(30px);
    margin-bottom: calcRem(15px);

    @include media-breakpoint-down(md) {
      margin-top: calcRem(10px);
    }

    &-body {
      position: absolute;
      left: 0;
      width: calcVw(522px, 1440px);
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media-breakpoint-down(md) {
        padding-left: calcRem(25px);
        width: 44vw;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .header {
        margin-bottom: calcRem(10px);
        font-size: scaleByViewportWidth(18px, 48px);
        font-weight: bold;
        line-height: 1.20em;
        color: white;

        flex: none;
        order: 0;
        align-self: center;
      }

      .subheader {
        font-size: scaleByViewportWidth(12px, 24px);
        line-height: 1.15em;
        color: rgba(255, 255, 255, 70%);

        flex: none;
        order: 1;
        align-self: center;
      }
    }

    &-image {
      width: 31.36vw;

      @include media-breakpoint-down(sm) {
        width: 49.38vw;
        opacity: 10%;
      }
    }
  }

  .navbar {
    margin-top: calcRem(30px);
    padding: 0;
    color: white;

    a {
      text-decoration: none;
      font-size: calcRem(14px);
      color: white;
      line-height: 1.4;
    }

    &-brand {
      padding: 0;

      &-logo {
        width: 30px;
        height: 30px;
      }
    }

    &-menu {
      ul {
        margin: 0;
      }

      &-btn {
        padding: calcRem(8px) calcRem(16px);
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;

        line-height: inherit;
      }
    }
  }

  .navbar-mobile {
    @extend .navbar;
    padding: calcRem(10px) calcRem(15px);
    margin-top: 0;
    background: rgb(124, 54, 202);
    background: linear-gradient(40deg, rgba(124, 54, 202, 1) 0%, rgba(56, 34, 153, 1) 100%);

    display: flex;
    flex-direction: column;

    &-controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-menu {
      width: 100%;

      ul {
        margin: 0;
        text-align: right;
      }

      &-icon {
        font-size: calcRem(16px);
      }
    }
  }

  .spotlight {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: calcRem(10px);

    $pill-min-font-size: 12px;
    $pill-max-font-size: 18px;

    // pill-height as a scalar (3.22) of it's font-size
    $pill-height: scaleByViewportWidth((3.22 * $pill-min-font-size), (3.22 * $pill-max-font-size));

    @include media-breakpoint-down(sm) {
      margin-top: calcRem(25px);
    }

    &-pill {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;

      display: flex;
      flex-direction: row;
      justify-content: center;

      span {
        height: $pill-height;
        padding: calcRem(16px) calcRem(48px);

        font-size: scaleByViewportWidth($pill-min-font-size, $pill-max-font-size);
        line-height: 1.44em;
        text-align: center;
        color: $color-baby-blue;

        background-color: white;
        border-radius: 30px;
      }
    }

    &-body {
      position: relative;
      margin-top: calc(#{$pill-height} / 2);
      padding: calcRem(56px) calcRem(72px);

      background-color: white;
      border-radius: 14px;

      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      @include media-breakpoint-down(sm) {
        padding-left: calcRem(15px);
        padding-right: calcRem(15px);
        padding-bottom: 0;
        background-color: #f3f3f3;
        box-shadow: none;
      }

      .title {
        width: 40vw;
        margin: 0 auto calcRem(50px);

        font-size: scaleByViewportWidth(18px, 36px);
        line-height: 1.15em;
        text-align: center;
        color: black;

        @include media-breakpoint-down(sm) {
          width: 70vw;
        }
      }
    }

    &-features:not(:last-of-type) {
      @include media-breakpoint-up(sm) {
        margin-bottom: calcRem(50px);
      }
    }

    @at-root .feature {
      width: 26.04vw;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: calcRem(50px);
      }

      &-icon {
        width: scaleByViewportWidth(70px, 86px);
        margin-bottom: calcRem(15px);
      }

      &-header {
        margin-bottom: calcRem(15px);

        font-size: scaleByViewportWidth(18px, 24px);
        line-height: 1.18em;
        color: black;
      }

      &-item {
        &:not(:last-of-type) {
          margin-bottom: calcRem(15px);
        }

        .heading {
          font-weight: 900;
          font-size: scaleByViewportWidth(14px, 14px);
          line-height: 1.24em;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $color-baby-blue;
        }

        .body {
          font-size: scaleByViewportWidth(16px, 18px);
          line-height: 1.47em;
          color: $color-dark-gray;
        }
      }
    }
  }
}
