<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>{{ title }}
          <small>{{ subtitle }}</small>
        </h3>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a [routerLink]="''"><i class="fa fa-home"></i></a></li>
          <li class="{{ (i == breadcrumbs.length - 1) ? 'breadcrumb-item active' : 'breadcrumb-item' }}"
              *ngFor="let item of breadcrumbs; index as i">{{ item }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
