@use 'app' as *;
@import 'app-components';

$frame-width: 1440px; // original viewport/frame width
$frame-height: 1201px; // original viewport/frame height
$bg-curve-width: calcVw(709px, $frame-width);
$bg-curve-height: calcVw(161px, $frame-width);

.cto {
  &-header {
    margin-bottom: calcRem(10);

    //font-size: scaleByViewportWidth(11px, 48px, 320px, 1440px);
    font-size: 27px;
    line-height: 32px;
    color: white;
  }

  &-body {
    //font-size: scaleByViewportWidth(5px, 24px, 320px, 1440px);
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
    color: $color-light-gray;
  }
}

.list-items {
  .list-item {
    margin-bottom: calcRem(25);
  }
}

.list-item {
  display: flex;
  flex-direction: row;

  .left-side {
    text-align: right;

    img {
      width: calcVw(50px, 1440px);
      margin-top: calcRem(27);
      margin-right: calcRem(15);
    }
  }

  .right-side {
    .header {
      position: relative;
      margin-bottom: calcRem(15);

      .header-bullet {
        position: relative;
        left: -3px;

        @include font-montserrat;
        font-size: scaleByViewportWidth(11px, 48px, 320px, 1440px);
        font-weight: 900;
        line-height: 1em;
        color: rgba(255, 255, 255, 0.05);
      }

      .header-text {
        position: absolute;
        left: 0;
        bottom: 0;

        font-size: scaleByViewportWidth(4px, 18px, 320px, 1440px);
        font-weight: 500;
        line-height: 1.17em;
        color: white;
      }
    }

    .body {
      font-size: scaleByViewportWidth(3px, 14px, 320px, 1440px);
      line-height: 1.24em;
      color: white;
    }
  }
}

.app-students {
  .aspect-ratio-image-box {
    @include font-roboto;
    @include aspect-ratio-image-box('/assets/images/welcome/sections/students/students-bg.png', $frame-width, $frame-height);

    background-image: url('/assets/images/welcome/sections/students/students-bg-curve.png'),
    url('/assets/images/welcome/sections/students/students-bg-graph.png'),
    url('/assets/images/welcome/sections/students/students-bg.png');

    background-size: $bg-curve-width $bg-curve-height,
    calcVw(978px, $frame-width) calcVw(517px, $frame-width),
    cover;

    background-position: left top,
    right bottom calcVw(203px, $frame-width),
    center;

    #top {
      padding-top: $bg-curve-height;

      .call-out {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
          margin-bottom: calcRem(40);

          img {
            width: calcVw(70px, $frame-width);
            margin-right: calcRem(9px);
          }

          span {
            font-size: scaleByViewportWidth(8px, 36px, 320px, 1440px);
            font-weight: bold;
            line-height: 1.15em;

            text-transform: uppercase;
            vertical-align: middle;
            color: $color-lighter-purple;
          }
        }

        &-header {
          margin-bottom: calcRem(15);

          font-size: scaleByViewportWidth(7px, 30px, 320px, 1440px);
          line-height: 1.15em;
          color: white;
        }

        &-body {
          margin-bottom: calcRem(65);

          font-size: scaleByViewportWidth(5px, 21px, 320px, 1440px);
          line-height: 1.10em;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    #bottom {
      padding: calcRem(22) 0;
      border-top: 2px solid rgba(251, 252, 253, 0.1);
    }
  }
}
