<div id="students" class="container-fluid app-students">
  <div class="row">
    <div class="col-12 p-0 aspect-ratio-image-box">
      <div id="top" class="row">
        <div class="col-4 offset-2">
          <div class="call-out">
            <div class="call-out-title">
              <img alt="Graduate Icon" [src]="graduateIcon">
              <span>Students</span>
            </div>
            <div class="call-out-header">
              Create Your Digital Profile On The HUSB-PLUGGED App Today
            </div>
            <div class="call-out-body">
              The HUSB-PLUGGED app has great features that make it the best place to access opportunities and events
              from companies without leaving your room.
            </div>
          </div>
          <div class="list-items">
            <div class="list-item"
                 *ngFor="let listItem of listItems; let idx = index"
                 [ngClass]="(idx % 2 == 0) ? 'col-10' : 'col-10 offset-2'">
              <div class="left-side">
                <div class="icon">
                  <img [alt]="listItem.icon.alt" [src]="listItem.icon.src">
                </div>
              </div>
              <div class="right-side">
                <div class="header">
                  <span class="header-bullet">{{ (idx <= 9) ? '0' + (idx + 1) : (idx + 1) }}</span>
                  <span class="header-text">{{ listItem.header }}</span>
                </div>
                <div class="body" [innerHTML]="listItem.body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom" class="row">
        <div class="col-3 offset-2 cto">
          <div class="cto-header">Create A Free Account And Start Swiping!</div>
          <div class="cto-body">
            PLUGGED offers everything needed to make your skills stand out to recruiters, explore
            on-campus events happening in real time, advance your career, and navigate the digital world through digital
            communication.
          </div>
        </div>
        <div class="col-3 offset-2">
          <div class="cta-download">
            <div class="header">Download Now</div>
            <div class="body">
              <div class="cta-download-badge cursor-pointer"
                   [inlineSVG]="'/assets/images/badges/app-store/app-store-badge.svg'"
                   [setSVGAttributes]="{'width':'100%','height':'100%'}"
                   (click)="navigateToDeviceAppStore('ios')"></div>
              <div class="cta-download-badge cursor-pointer"
                   [inlineSVG]="'/assets/images/badges/google-play/google-play-badge.svg'"
                   [setSVGAttributes]="{'width':'100%','height':'100%'}"
                   (click)="navigateToDeviceAppStore('android')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
