<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Terms Of Use</h3>
        </div>
        <div class="card-body">
          <div id="legal-terms-content-table"><!--Dynamically Populated --></div>

          <br>

          <p>By accessing or using the Company websites at <a href="http://www.getplug.io/">www.getplug.io</a> and
            related subdomains, the Company service commonly referred to as PLUGGED and/or other Company services, or
            any applications (including mobile applications) made available by Company (together, the “Service”),
            however accessed, you agree to be bound by these terms of use (“Terms of Use”). The Service is owned or
            controlled by Plugged Technologies Inc (“Company”). These Terms of Use affect your legal rights and
            obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the
            Service.</p>

          <p>There may be times when we offer a special feature that has its own terms and conditions that apply in
            addition to these Terms of Use. In those cases, the terms specific to the special feature control to the
            extent there is a conflict with these Terms of Use.</p>

          <p><strong>We want to note up front that by using the Services, you consent to:</strong></p>

          <ul>
            <li>The Company’s sharing of your personally identifiable information, contact details, education history
              and grades, and other information you enter through the Services with your school(s) and potential
              employers.
            </li>
            <li>The company use and sharing with third parties (in some cases, for compensation) of data gathered
              through your inputs to and interactions with the Services in de-identified form.
            </li>
            <li>You can delete your personal information from our Services, but residual information about your
              previous use of the Services will remain on our systems even after an account is deleted.
            </li>
          </ul>

          <br>

          <div id="legal-terms-list" class="container-fluid">
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Basic Terms</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <ol>
                  <li>You must be at least 14 years old to use the Service. If you are not 14 years of age please have a
                    legal guardian fill out this form and email it to support@getplug.io to use the Service.
                  </li>
                  <li>You may not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful,
                    pornographic or sexually suggestive photos or other content via the Service.
                  </li>
                  <li>You are responsible for any activity that occurs through your account and you agree you will not
                    sell,
                    transfer, license or assign your account, followers, username, or any account rights. With the
                    exception
                    of people or businesses that are expressly authorized to create accounts on behalf of their
                    employers or
                    clients, Company prohibits the creation of and you agree that you will not create an account for
                    anyone
                    other than yourself. You also represent that all information you provide or provided to Company upon
                    registration and at all other times will be true, accurate, current and complete and you agree to
                    update
                    your information as necessary to maintain its truth and accuracy.
                  </li>
                  <li>You agree that you will not solicit, collect or use the login credentials of other Company
                    users.
                  </li>
                  <li>You are responsible for keeping your password secret and secure.</li>
                  <li>You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or
                    entities and you must not post private or confidential information via the Service, including,
                    without
                    limitation, your or any other person’s credit card information, social security or alternate
                    national
                    identity numbers, non-public phone numbers or non-public email addresses.
                  </li>
                  <li>You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all
                    laws, rules and regulations (for example, federal, state, local and provincial) applicable to your
                    use
                    of the Service and your Content (defined below), including but not limited to, copyright laws.
                  </li>
                  <li>You are solely responsible for your conduct and any data, text, files, information, usernames,
                    images,
                    graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship,
                    applications, links and other content or materials (collectively, “Content”) that you submit, post
                    or
                    display on or via the Service.
                  </li>
                  <li>You must not change, modify, adapt or alter the Service or change, modify or alter another website
                    so
                    as to falsely imply that it is associated with the Service or Company.
                  </li>
                  <li>You must not create or submit unwanted email, comments, likes or other forms of commercial or
                    harassing communications (a/k/a “spam”) to any Company users.
                  </li>
                  <li>You must not use domain names or web URLs in your username without prior written consent from
                    Company.
                  </li>
                  <li>You must not interfere or disrupt the Service or servers or networks connected to the Service,
                    including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or
                    disruptive nature. You may not inject content or code or otherwise alter or interfere with the way
                    any
                    Company page is rendered or displayed in a user’s browser or device.
                  </li>
                  <li>You must not create accounts with the Service through unauthorized means, including but not
                    limited
                    to, by using an automated device, script, bot, spider, crawler or scraper.
                  </li>
                  <li>You must not attempt to restrict another user from using or enjoying the Service and you must not
                    encourage or facilitate violations of these Terms of Use or any other Company terms.
                  </li>
                  <li>Violation of these Terms of Use may, in Company’s sole discretion, result in termination of your
                    Company account. You understand and agree that Company cannot and will not be responsible for the
                    Content posted on the Service and you use the Service at your own risk. If you violate the letter or
                    spirit of these Terms of Use, or otherwise create risk or possible legal exposure for Company, we
                    can
                    stop providing all or part of the Service to you.
                  </li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>General Conditions</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <ol>
                  <li>We reserve the right to modify or terminate the Service or your access to the Service for any
                    reason,
                    without notice, at any time, and without liability to you. You can deactivate your Company account
                    by
                    emailing us at support@getplug.io and we will remove your personal details in accordance with our
                    Privacy Policy.
                  </li>
                  <li>Upon termination, all licenses and other rights granted to you in these Terms of Use will
                    immediately
                    cease.
                  </li>
                  <li>We reserve the right, in our sole discretion, to change these Terms of Use (“Updated Terms”) from
                    time
                    to time. Unless we make a change for legal or administrative reasons, we will provide reasonable
                    advance
                    notice before the Updated Terms become effective. You agree that we may notify you of the Updated
                    Terms
                    by posting them on the Service OR by sending users an email, and that your use of the Service after
                    the
                    effective date of the Updated Terms (or engaging in such other conduct as we may reasonably specify)
                    constitutes your agreement to the Updated Terms. Therefore, you should review these Terms of Use and
                    any
                    Updated Terms before using the Service. The Updated Terms will be effective as of the time of
                    posting,
                    or such later date as may be specified in the Updated Terms, and will apply to your use of the
                    Service
                    from that point forward. These Terms of Use will govern any disputes arising before the effective
                    date
                    of the Updated Terms.
                  </li>
                  <li>We reserve the right to refuse access to the Service to anyone for any reason at any time.</li>
                  <li>We reserve the right to force forfeiture of any username or account for any reason.</li>
                  <li>We may, but have no obligation to, remove, edit, block, and/or monitor Content or accounts
                    containing
                    Content that we determine in our sole discretion violates these Terms of Use.
                  </li>
                  <li>You are solely responsible for your interaction with other users of the Service, whether online or
                    offline. You agree that Company is not responsible or liable for the conduct of any user. Company
                    reserves the right, but has no obligation, to monitor or become involved in disputes between you and
                    other users. Exercise common sense and your best judgment when interacting with others, including
                    when
                    you submit or post Content or any personal or other information.
                  </li>
                  <li>There may be links from the Service, or from communications you receive from the Service, to
                    third-party web sites or features. There may also be links to third-party web sites or features in
                    images or comments within the Service. The Service also includes third-party content that we do not
                    control, maintain or endorse. Functionality on the Service may also permit interactions between the
                    Service and a third-party web site or feature, including applications that connect the Service or
                    your
                    profile on the Service with a third-party web site or feature. For example, the Service may include
                    a
                    feature that enables you to share Content from the Service or your Content with a third party, which
                    may
                    be publicly posted on that third party’s service or application. Using this functionality typically
                    requires you to login to your account on the third-party service and you do so at your own risk.
                    Company
                    does not control any of these third-party web services or any of their content. You expressly
                    acknowledge and agree that Company is in no way responsible or liable for any such third-party
                    services
                    or features. YOUR CORRESPONDENCE AND BUSINESS DEALINGS WITH THIRD PARTIES FOUND THROUGH THE SERVICE
                    ARE
                    SOLELY BETWEEN YOU AND THE THIRD PARTY. You may choose, at your sole and absolute discretion and
                    risk,
                    to use applications that connect the Service or your profile on the Service with a third-party
                    service
                    (each, an “Application”) and such Application may interact with, connect to or gather and/or pull
                    information from and to your Service profile. By using such Applications, you acknowledge and agree
                    to
                    the following: (i) if you use an Application to share information, you are consenting to information
                    about your profile on the Service being shared; (ii) your use of an Application may cause personally
                    identifying information to be publicly disclosed and/or associated with you, even if Company has not
                    itself provided such information; and (iii) your use of an Application is at your own option and
                    risk,
                    and you will hold the Company Parties (defined below) harmless for activity related to the
                    Application.
                  </li>
                  <li>You agree that you are responsible for all data charges you incur through use of the Service.</li>
                  <li>We prohibit crawling, scraping, caching or otherwise accessing any content on the Service via
                    automated means, including but not limited to, user profiles and photos (except as may be the result
                    of
                    standard search engine protocols or technologies used by a search engine with Company’s express
                    consent).
                  </li>
                  <li>Fair usage
                    <ul>
                      <li>We provide a Service which may only be used for the purposes of recruiting individuals for
                        real
                        jobs in real organizations. The User is prohibited from using the Services to upload fake CVs or
                        collect any Recruiter's Information for any purpose which is inconsistent with these terms or
                        any
                        applicable law or commercially accepted recruiting practices.
                      </li>
                      <li>The Users of the Site and/or the Service are required to use at all times the Services in
                        accordance with applicable law and in particular, all applicable data protection, employment and
                        anti-discrimination legislation. PLUGGED WILL NOT BE RESPONSIBLE FOR ANY MISCONDUCT OR ILLEGAL
                        CONDUCT BY THE USERS IN THIS RESPECT.
                      </li>
                    </ul>
                  </li>
                  <li>Interaction with Recruiters
                    <ul>
                      <li>When you create a Profile you represents that the information included in your Profile
                        (including
                        without limitation, your qualifications, skills, training and experience) is correct, complete,
                        accurate, sufficient and up to date, in a manner allowing Recruiters who review your Anonymous
                        Profile to make a preliminary assessment of your suitability for the role in question and to
                        decide
                        whether to ping you and ask that you reveal your identity so that the parties could move forward
                        with the recruitment process.
                      </li>
                      <li>If a Recruiter elects to make you a job offer, the terms of employment and any contractual
                        arrangements shall be negotiated and agreed upon between you and the Recruiter directly.
                      </li>
                      <li>PLUGGED does not have any control of Recruiters and therefore cannot accept any liability in
                        respect of the behavior, responses or actions of the Recruiters. PLUGGED does not warrant,
                        represent
                        or guarantee that you will be able to find any job, position or offer by using the Services
                        and/or
                        the Site.
                      </li>
                      <li>The Service is for personal use and you have no right whatsoever to resell the Services to any
                        third party for any reason without PLUGGED's prior explicit written approval.
                      </li>
                      <li>In the event that a dispute arises between a User and any Recruiter (for example, in relation
                        to
                        the interview or selection process or the contractual arrangements between them) ("Dispute"),
                        the
                        User agrees that PLUGGED is not liable for any loss or damage suffered by the User as a result
                        of
                        any such Dispute and you hereby release and hold harmless PLUGGED from any such loss or damage
                        or
                        any liability in relation to any Dispute.
                      </li>
                    </ul>
                  </li>
                  <li>Minors
                    <ul>
                      <li>To use the Site and/or the Services you must be over the age of fourteen (14). We reserve the
                        right to request proof of age at any stage so that we can verify that minors under the age of
                        fourteen (14) are not using the Service. In the event that it comes to our knowledge that a
                        person
                        under the age of fourteen (14) is using the Service, we will prohibit and block such person from
                        accessing the Service and will make all efforts to promptly delete any Personal Information (as
                        such
                        term is defined in our Privacy Policy) with regard to such person.
                      </li>
                    </ul>
                  </li>
                  <li>Availability
                    <ul>
                      <li>We will use commercially reasonable efforts to ensure that the Site will be available.
                        However,
                        the Site's and/or Service availability and functionality depend on various factors, such as
                        communication networks, the availability of telecommunication links, etc.. Therefore, PLUGGED
                        does
                        not warrant or guarantee that the Site and/or the Service will operate and/or be available at
                        all
                        times without disruption or interruption, or that it will be immune from unauthorized access or
                        error-free.
                      </li>
                    </ul>
                  </li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Rights</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <ol>
                  <li>Company does not claim ownership of any Content that you post on or through the Service. Instead,
                    you
                    hereby grant to Company a non-exclusive, fully paid and royalty-free, transferable, sub-licensable,
                    worldwide license to use the Content that you post on or through the Service, subject to the
                    Service’s
                    Privacy Policy, available here, including but not limited to sections 3 (“Sharing of Your
                    Information”),
                    4 (“How We Store Your Information”), and 5 (“Your Choices About Your Information”). You can choose
                    who
                    can view your Content and activities, as described in the Privacy Policy.
                  </li>
                  <li>Some of the Service is supported by advertising revenue and may display advertisements and
                    promotions,
                    and you hereby agree that Company may place such advertising and promotions on the Service or on,
                    about,
                    or in conjunction with your Content. The manner, mode and extent of such advertising and promotions
                    are
                    subject to change without specific notice to you.
                  </li>
                  <li>You acknowledge that we may not always identify paid services, sponsored content, or commercial
                    communications as such.
                  </li>
                  <li>You represent and warrant that: (i) you own the Content posted by you on or through the Service or
                    otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (ii) the
                    posting and use of your Content on or through the Service does not violate, misappropriate or
                    infringe
                    on the rights of any third party, including, without limitation, privacy rights, publicity rights,
                    copyrights, trademark and/or other intellectual property rights; (iii) you agree to pay for all
                    royalties, fees, and any other monies owed by reason of Content you post on or through the Service;
                    and
                    (iv) you have the legal right and capacity to enter into these Terms of Use in your jurisdiction.
                  </li>
                  <li>The Service contains content owned or licensed by Company (“Company Content”). Company Content is
                    protected by copyright, trademark, patent, trade secret and other laws, and, as between you and
                    Company,
                    Company owns and retains all rights in the Company Content and the Service. You will not remove,
                    alter
                    or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated
                    in or
                    accompanying the Company Content and you will not reproduce, modify, adapt, prepare derivative works
                    based on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise
                    exploit
                    the Company Content.
                  </li>
                  <li>The Company name and logo are trademarks of Company, and may not be copied, imitated or used, in
                    whole
                    or in part, without the prior written permission of Company. In addition, all page headers, custom
                    graphics, button icons and scripts are service marks, trademarks and/or trade dress of Company, and
                    may
                    not be copied, imitated or used, in whole or in part, without prior written permission from Company.
                  </li>
                  <li>Although it is Company’s intention for the Service to be available as much as possible, there will
                    be
                    occasions when the Service may be interrupted, including, without limitation, for scheduled
                    maintenance
                    or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment.
                    Also, Company reserves the right to remove any Content from the Service for any reason, without
                    prior
                    notice. Content removed from the Service may continue to be stored by Company, including, without
                    limitation, in order to comply with certain legal obligations, but may not be retrievable without a
                    valid court order. Consequently, Company encourages you to maintain your own backup of your Content.
                    In
                    other words, Company is not a backup service and you agree that you will not rely on the Service for
                    the
                    purposes of Content backup or storage. Company will not be liable to you for any modification,
                    suspension, or discontinuation of the Services, or the loss of any Content. You also acknowledge
                    that
                    the Internet may be subject to breaches of security and that the submission of Content or other
                    information may not be secure.
                  </li>
                  <li>You agree that Company is not responsible for, and does not endorse, Content posted within the
                    Service. Company does not have any obligation to prescreen, monitor, edit, or remove any Content. If
                    your Content violates these Terms of Use, you may bear legal responsibility for that Content.
                  </li>
                </ol>

                <p>You agree that Company may share your personally identifiable information, contact details, education
                  history and grades, and other information you enter through the Services with your school(s) and
                  potential
                  employers and may use and share with third parties (in some cases, for compensation) data gathered
                  through
                  your inputs to and interactions with the Services in de-identified form.</p>

                <ol>
                  <li>Except as otherwise described in the Service’s Privacy Policy, as between you and Company, any
                    Content
                    will be non-confidential and non-proprietary and we will not be liable for any use or disclosure of
                    Content. You acknowledge and agree that your relationship with Company is not a confidential,
                    fiduciary,
                    or other type of special relationship, and that your decision to submit any Content does not place
                    Company in a position that is any different from the position held by members of the general public,
                    including with regard to your Content. None of your Content will be subject to any obligation of
                    confidence on the part of Company, and Company will not be liable for any use or disclosure of any
                    Content you provide.
                  </li>
                  <li>It is Company’s policy not to accept or consider content, information, ideas, suggestions or other
                    materials other than those we have specifically requested and to which certain specific terms,
                    conditions and requirements may apply. This is to avoid any misunderstandings if your ideas are
                    similar
                    to those we have developed or are developing independently. Accordingly, Company does not accept
                    unsolicited materials or ideas, and takes no responsibility for any materials or ideas so
                    transmitted.
                    If, despite our policy, you choose to send us content, information, ideas, suggestions, or other
                    materials, you further agree that Company is free to use any such content, information, ideas,
                    suggestions or other materials, for any purposes whatsoever, including, without limitation,
                    developing
                    and marketing products and services, without any liability or payment of any kind to you.
                  </li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Reporting Copyright and Other IP Violations</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <ol>
                  <li>We respect other people’s rights, and expect you to do the same.</li>
                  <li>If you repeatedly infringe other people’s intellectual property rights, we will disable your
                    account
                    when appropriate.
                  </li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Disclaimer of Warranties</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>THE SERVICE, INCLUDING, WITHOUT LIMITATION, COMPANY CONTENT, IS PROVIDED ON AN “AS IS”, “AS
                  AVAILABLE”
                  AND “WITH ALL FAULTS” BASIS. TO THE FULLEST EXTENT PERMISSIBLE BY LAW, NEITHER COMPANY NOR ANY OF ITS
                  EMPLOYEES, PARTNERS, MANAGERS, OFFICERS OR AGENTS (COLLECTIVELY, THE “COMPANY PARTIES”) MAKE ANY
                  REPRESENTATIONS OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, AS TO: (A)
                  THE
                  SERVICE; (B) THE COMPANY CONTENT; (C) USER CONTENT; OR (D) SECURITY ASSOCIATED WITH THE TRANSMISSION
                  OF
                  INFORMATION TO COMPANY OR VIA THE SERVICE. IN ADDITION, THE COMPANY PARTIES HEREBY DISCLAIM ALL
                  WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY,
                  FITNESS
                  FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION
                  AND
                  FREEDOM FROM COMPUTER VIRUS.</p>

                <p>THE COMPANY PARTIES DO NOT REPRESENT OR WARRANT THAT THE SERVICE WILL BE ERROR-FREE OR UNINTERRUPTED;
                  THAT DEFECTS WILL BE CORRECTED; OR THAT THE SERVICE OR THE SERVER THAT MAKES THE SERVICE AVAILABLE IS
                  FREE
                  FROM ANY HARMFUL COMPONENTS, INCLUDING, WITHOUT LIMITATION, VIRUSES. THE COMPANY PARTIES DO NOT MAKE
                  ANY
                  REPRESENTATIONS OR WARRANTIES THAT THE INFORMATION (INCLUDING ANY INSTRUCTIONS) ON THE SERVICE IS
                  ACCURATE, COMPLETE, OR USEFUL. YOU ACKNOWLEDGE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE
                  COMPANY PARTIES DO NOT WARRANT THAT YOUR USE OF THE SERVICE IS LAWFUL IN ANY PARTICULAR JURISDICTION,
                  AND
                  THE COMPANY PARTIES SPECIFICALLY DISCLAIM SUCH WARRANTIES. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW
                  THE
                  DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO YOU TO THE EXTENT
                  SUCH
                  JURISDICTION’S LAW IS APPLICABLE TO YOU AND THESE TERMS OF USE.</p>

                <p>BY ACCESSING OR USING THE SERVICE YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY
                  JURISDICTION WHERE YOU ACCESS OR USE THE SERVICE.</p>

                <p>THE COMPANY PARTIES DO NOT ENDORSE CONTENT AND SPECIFICALLY DISCLAIM ANY RESPONSIBILITY OR LIABILITY
                  TO
                  ANY PERSON OR ENTITY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE),
                  INJURY,
                  CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER BASED UPON OR RESULTING FROM ANY CONTENT.</p>

                <p>USERS HEREBY GIVE ANY CONSENTS REQUIRED BY LAW FOR THE SERVICES TO OPERATE AS SET FORTH IN THESE
                  TERMS OF
                  USE.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Limitation of Liability; Waiver</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>UNDER NO CIRCUMSTANCES WILL THE COMPANY PARTIES BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND
                  (INCLUDING, WITHOUT LIMITATION, FOR ANY DIRECT, INDIRECT, ECONOMIC, EXEMPLARY, SPECIAL, PUNITIVE,
                  INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO: (A) THE
                  SERVICE; (B) THE COMPANY CONTENT; (C) USER CONTENT; (D) YOUR USE OF, INABILITY TO USE, OR THE
                  PERFORMANCE
                  OF THE SERVICE; (E) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE COMPANY PARTIES OR LAW
                  ENFORCEMENT AUTHORITIES REGARDING YOUR OR ANY OTHER PARTY’S USE OF THE SERVICE; (F) ANY ACTION TAKEN
                  IN
                  CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS; (G) ANY ERRORS OR OMISSIONS IN THE
                  SERVICE’S OPERATION; OR (H) ANY DAMAGE TO ANY USER’S COMPUTER, MOBILE DEVICE, OR OTHER EQUIPMENT OR
                  TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS,
                  TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER
                  LINE
                  OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, INCLUDING, WITHOUT LIMITATION, DAMAGES
                  FOR
                  LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE
                  OR
                  MALFUNCTION, EVEN IF FORESEEABLE OR EVEN IF THE COMPANY PARTIES HAVE BEEN ADVISED OF OR SHOULD HAVE
                  KNOWN
                  OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR
                  TORT
                  (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD,
                  TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE SERVICE). IN NO EVENT WILL THE COMPANY
                  PARTIES
                  BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS, DAMAGE OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR
                  PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL
                  DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT WILL THE COMPANY
                  PARTIES
                  TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OR ACTION EXCEED ONE HUNDRED UNITED STATES
                  DOLLARS ($100.00).</p>

                <p>YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF COMPANY’S
                  ACTS OR
                  OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN
                  INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEB SITE, SERVICE, PROPERTY, PRODUCT OR OTHER CONTENT
                  OWNED
                  OR CONTROLLED BY THE COMPANY PARTIES, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE
                  DEVELOPMENT,
                  PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY WEB SITE, PROPERTY, PRODUCT,
                  SERVICE, OR OTHER CONTENT OWNED OR CONTROLLED BY THE COMPANY PARTIES.</p>

                <p>BY ACCESSING THE SERVICE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT
                  ARE
                  AT THIS TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE
                  READ AND UNDERSTAND, AND HEREBY EXPRESSLY WAIVE, THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF
                  CALIFORNIA, AND ANY SIMILAR LAW OF ANY STATE OR TERRITORY, WHICH PROVIDES AS FOLLOWS: “A GENERAL
                  RELEASE
                  DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE
                  TIME OF
                  EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE
                  DEBTOR.”</p>

                <p>COMPANY IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU
                  RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND
                  UNKNOWN,
                  ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Indemnification</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>You (and also any third party for whom you operate an account or activity on the Service) agree to
                  defend
                  (at Company’s request), indemnify and hold the Company Parties harmless from and against any claims,
                  liabilities, damages, losses, and expenses, including without limitation, reasonable attorney’s fees
                  and
                  costs, arising out of or in any way connected with any of the following (including as a result of your
                  direct activities on the Service or those conducted on your behalf): (i) your Content or your access
                  to or
                  use of the Service; (ii) your breach or alleged breach of these Terms of Use; (iii) your violation of
                  any
                  third-party right, including without limitation, any intellectual property right, publicity,
                  confidentiality, property or privacy right; (iv) your violation of any laws, rules, regulations,
                  codes,
                  statutes, ordinances or orders of any governmental and quasi-governmental authorities, including,
                  without
                  limitation, all regulatory, administrative and legislative authorities; or (v) any misrepresentation
                  made
                  by you. You will cooperate as fully required by Company in the defense of any claim. Company reserves
                  the
                  right to assume the exclusive defense and control of any matter subject to indemnification by you, and
                  you
                  will not in any event settle any claim without the prior written consent of Company.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Arbitration</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>Except if you opt-out or for disputes relating to: (1) your or Company’s intellectual property (such
                  as
                  trademarks, trade dress, domain names, trade secrets, copyrights and patents); OR (2) violations of
                  provisions 13 or 15 of the Basic Terms, above (“Excluded Disputes”), you agree that all disputes
                  between
                  you and Company (whether or not such dispute involves a third party) with regard to your relationship
                  with
                  Company, including without limitation disputes related to these Terms of Use, your use of the Service,
                  and/or rights of privacy and/or publicity, will be resolved by binding, individual arbitration under
                  the
                  American Arbitration Association’s rules for arbitration of consumer-related disputes and you and
                  Company
                  hereby expressly waive trial by jury. As an alternative, you may bring your claim in your local “small
                  claims” court, if permitted by that small claims court’s rules. You may bring claims only on your own
                  behalf. Neither you nor Company will participate in a class action or class-wide arbitration for any
                  claims covered by this agreement. You also agree not to participate in claims brought in a private
                  attorney general or representative capacity, or consolidated claims involving another person’s
                  account, if
                  Company is a party to the proceeding. This dispute resolution provision will be governed by the
                  Federal
                  Arbitration Act. In the event the American Arbitration Association is unwilling or unable to set a
                  hearing
                  date within one hundred and sixty (160) days of filing the case, then either Company or you can elect
                  to
                  have the arbitration administered instead by the Judicial Arbitration and Mediation Services. Judgment
                  on
                  the award rendered by the arbitrator may be entered in any court having competent jurisdiction. Any
                  provision of applicable law notwithstanding, the arbitrator will not have authority to award damages,
                  remedies or awards that conflict with these Terms of Use.</p>

                <p>You may opt out of this agreement to arbitrate. If you do so, neither you nor Company can require the
                  other to participate in an arbitration proceeding. To opt out, you must notify Company in writing
                  within
                  30 days of the date that you first became subject to this arbitration provision. You must use this
                  address
                  to opt out:</p>

                <p>Plugged Technologies Inc 800 Burns St SE Washington DC 20019.</p>

                <p>You must include your name and residence address, the email address you use for your Company account,
                  and
                  a clear statement that you want to opt out of this arbitration agreement.</p>

                <p>If the prohibition against class actions and other claims brought on behalf of third parties
                  contained
                  above is found to be unenforceable, then all of the preceding language in this Arbitration section
                  will be
                  null and void. This arbitration agreement will survive the termination of your relationship with
                  Company.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Time Limitation on Claims</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>You agree that any claim you may have arising out of or related to your relationship with Company
                  must be
                  filed within one year after such claim arose; otherwise, your claim is permanently barred.</p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-2 pl-0">
                  <h6><strong>Governing Law &amp; Venue</strong></h6>
                </div>
                <div class="col-sm-10 pr-0">
                  <p>These Terms of Use are governed by and construed in accordance with the laws of the State of
                    California,
                    without giving effect to any principles of conflicts of law AND WILL SPECIFICALLY NOT BE GOVERNED BY
                    THE
                    UNITED NATIONS CONVENTIONS ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS, IF OTHERWISE APPLICABLE.
                    For
                    any action at law or in equity relating to the arbitration provision of these Terms of Use, the
                    Excluded
                    Disputes or if you opt out of the agreement to arbitrate, you agree to resolve any dispute you have
                    with
                    Company exclusively in a state or federal court located in Santa Clara, California, and to submit to
                    the
                    personal jurisdiction of the courts located in Santa Clara County for the purpose of litigating all
                    such
                    disputes.</p>

                  <p>If any provision of these Terms of Use is held to be unlawful, void, or for any reason unenforceable
                    during arbitration or by a court of competent jurisdiction, then that provision will be deemed
                    severable
                    from these Terms of Use and will not affect the validity and enforceability of any remaining
                    provisions.
                    Company’s failure to insist upon or enforce strict performance of any provision of these Terms will
                    not be
                    construed as a waiver of any provision or right. No waiver of any of these Terms will be deemed a
                    further
                    or continuing waiver of such term or condition or any other term or condition. Company reserves the
                    right
                    to change this dispute resolution provision, but any such changes will not apply to disputes arising
                    before the effective date of the amendment. This dispute resolution provision will survive the
                    termination
                    of any or all of your transactions with Company.</p>
                </div>
              </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Entire Agreement</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>If you are using the Service on behalf of a legal entity, you represent that you are authorized to
                  enter
                  into an agreement on behalf of that legal entity. These Terms of Use constitute the entire agreement
                  between you and Company and governs your use of the Service, superseding any prior agreements between
                  you
                  and Company. You will not assign the Terms of Use or assign any rights or delegate any obligations
                  hereunder, in whole or in part, whether voluntarily or by operation of law, without the prior written
                  consent of Company. Any purported assignment or delegation by you without the appropriate prior
                  written
                  consent of Company will be null and void. Company may assign these Terms of Use or any rights
                  hereunder
                  without your consent. If any provision of these Terms of Use is found by a court of competent
                  jurisdiction
                  to be invalid or otherwise unenforceable, the parties nevertheless agree that such portion will be
                  deemed
                  severable from these Terms of Use and will not affect the validity and enforceability of the remaining
                  provisions, and the remaining provisions of the Terms of Use remain in full force and effect. Neither
                  the
                  course of conduct between the parties nor trade practice will act to modify the Terms of Use. These
                  Terms
                  of Use do not confer any third-party beneficiary rights.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 pl-0">
                <h6><strong>Territorial Restrictions</strong></h6>
              </div>
              <div class="col-sm-10 pr-0">
                <p>The information provided within the Service is not intended for distribution to or use by any person
                  or
                  entity in any jurisdiction or country where such distribution or use would be contrary to law or
                  regulation or which would subject Company to any registration requirement within such jurisdiction or
                  country. We reserve the right to limit the availability of the Service or any portion of the Service,
                  to
                  any person, geographic area, or jurisdiction, at any time and in our sole discretion, and to limit the
                  quantities of any content, program, product, service or other feature that Company provides.</p>

                <p>Software related to or made available by the Service may be subject to United States export controls.
                  Thus, no software from the Service may be downloaded, exported or re-exported: (a) into (or to a
                  national
                  or resident of) any country to which the United States has embargoed goods; or (b) to anyone on the
                  U.S.
                  Treasury Department’s list of Specially Designated Nationals or the U.S. Commerce Department’s Table
                  of
                  Deny Orders. By downloading any software related to the Service, you represent and warrant that you
                  are
                  not located in, under the control of, or a national or resident of, any such country or on any such
                  list.</p>

                <p>The effective date of these Terms of Use is August 19, 2017. These Terms of Use were written in
                  English
                  (US). To the extent any translated version of these Terms of Use conflicts with the English version,
                  the
                  English version controls.</p>
              </div>
              <!--<div class="row">
                <div class="col-sm-2 pl-0"></div>
                <div class="col-sm-10 pr-0"></div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
