@import "theme-auth-ui";

label#is-startup-radio-group-label {
  font-size: 15px;
}

.accept-terms {
  width: 80%;
  margin: auto;
  a {
    color: #fff;
    font-weight: bolder;
  }
}

.mat-radio-group {
  .mat-radio-button {
    font-size: 13px;
  }
}
