<div class="container-auth">
  <div class="wrap-form">
    <span class="form-title">Recruiter Signup</span>

    <div class="container wrap-container">
      <ng-container #vcSignupForm></ng-container>
    </div>

    <div class="wrap-button">
      <button class="button ls w-25" (click)="previous()" [class.visible]="formIndex > 1">
        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
      </button>
      <button class="button rs" (click)="next()" [class.w-75]="formIndex > 1">{{ formButtonText }}</button>
    </div>

    <p *ngIf="formIndex > 1" class="text-center text-white pt-2 accept-terms font-italic">
      <input (change)="termsAccepted = !termsAccepted" [checked]="termsAccepted" type="checkbox" class="" id="usr">
      By clicking Register, you agree to our <a [routerLink]="['/terms']">Terms</a> and <a [routerLink]="['/privacy']">Privacy</a>
      Policy. You may receive SMS notifications from us and can opt out at any time.
    </p>

    <div class="wrap-text text-center font-italic">
      <a class="text-regular" routerLink="/login">Account Login</a>
    </div>
  </div>
</div>

<!-- Signup Form Pages -->
<ng-template #tplEmployerForm>
  <form ngNoForm class="row" [formGroup]="signupForm.employer">
    <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">Your Profile</h6></div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required type="text">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required type="text">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle" required type="text">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of ['Male','Female'] " [value]="gender">{{ gender }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input type="email" matInput formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" required type="tel">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required type="password">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" required type="password">
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #tplUrlsForm let-form="formGroup" let-header="formHeader">
  <form ngNoForm [formGroup]="form">
    <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">{{ header }}</h6></div>
    <div class="col-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Website</mat-label>
        <input matInput formControlName="websiteUrl" placeholder="URL" type="text">
        <mat-icon fontIcon="fa-globe" fontSet="fa" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>LinkedIn</mat-label>
        <input matInput formControlName="linkedinUrl" placeholder="URL" type="text">
        <mat-icon fontIcon="fa-linkedin" fontSet="fa" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Facebook</mat-label>
        <input matInput formControlName="facebookUrl" placeholder="URL" type="text">
        <mat-icon fontIcon="fa-facebook" fontSet="fa" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Twitter</mat-label>
        <input matInput formControlName="twitterUrl" placeholder="URL" type="text">
        <mat-icon fontIcon="fa-twitter" fontSet="fa" matPrefix></mat-icon>
      </mat-form-field>
    </div>
  </form>
</ng-template>
