<content-page-header title="Subscription Plans" [breadcrumbs]="true"></content-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body m-auto">
          <div class="pricing-wrapper-card">
            <div class="row">
              <!-- Basic -->
              <div class="pricing-card col-xl-4">
                <div class="card-title">
                  <h3>Basic</h3>
                </div>
                <div class="card-price">
                  <h1>
                    <sup>$</sup>
                    <span class="counter">0</span>
                    <small>month</small>
                  </h1>
                </div>
                <div class="card-description">
                  <ul>
                    <li>Access to pre-screened candidates</li>
                    <li>Unlimited hires</li>
                    <li>Weekly candidate matching alerts</li>
                    <li>Chat support</li>
                    <li class="no-bullet"></li>
                    <li class="no-bullet"></li>
                  </ul>
                </div>
                <div class="card-action">
                  <button type="button">Get Basic</button>
                </div>
              </div>

              <!-- Premium -->
              <div class="pricing-card popular col-xl-4">
                <div class="card-ribbon">
                  <span>Most Popular</span>
                </div>
                <div class="card-title">
                  <h3>Premium</h3>
                </div>
                <div class="card-price">
                  <h1>
                    <sup>$</sup>
                    <span class="counter">150</span>
                    <small>month</small>
                  </h1>
                </div>
                <div class="card-description">
                  <ul>
                    <li>Access to pre-screened candidates</li>
                    <li>Unlimited hires</li>
                    <li>Weekly candidate matching alerts</li>
                    <li>Chat support</li>
                    <li>5 Job Slots+</li>
                    <li>Unlimited messaging</li>
                  </ul>
                </div>
                <div class="card-action">
                  <button type="button">Get Premium</button>
                </div>
              </div>

              <!-- Executive -->
              <div class="pricing-card col-xl-4">
                <div class="card-title">
                  <h3>Executive</h3>
                </div>
                <div class="card-price">
                  <h1>
                    <sup>$</sup>
                    <span class="counter">300</span>
                    <small>month</small>
                  </h1>
                </div>
                <div class="card-description">
                  <ul>
                    <li>Access to pre-screened candidates</li>
                    <li>Unlimited hires</li>
                    <li>Weekly candidate matching alerts</li>
                    <li>Chat support</li>
                    <li>7 Job Slots+</li>
                    <li>Unlimited messaging</li>
                  </ul>
                </div>
                <div class="card-action">
                  <button type="button">Get Executive</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
