.quickview-wrapper {
    position: fixed;
    right: -285px;
    top: 80px;
    width: 285px;
    background: #fff;
    bottom: 0;
    z-index: 10;
    -webkit-box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
    box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
    border-left: 1px solid rgba(222, 227, 231, 0.56);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99), -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    height: calc(100% - 80px);
}

.notification {
    position: fixed;
    right: 30px;
}
