<div class="page-wrapper">
  <app-header (sidebarStateChange)="onSidebarToggle($event)"></app-header>

  <div #pageBodyWrapper class="page-body-wrapper">
    <div #pageSidebar class="page-sidebar custom-scrollbar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="page-body">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="quickview-wrapper" id="quickview-wrapper">
     <div>
        <ul class="nav nav-tabs border-tab nav-primary border-0 mb-0" role="tablist">
           <li class="nav-item quickview-box"> 
              <a class="nav-link quickview-box-toggle" [routerLink]="['/e/chat']" > 
               <span class="badge badge-pill badge-primary notification" *ngIf="unreadMessages > 0">{{ unreadMessages }}</span>
               <i class="icon-comments m-0"></i> 
              </a> 
            </li>
          </ul> 
    </div>
  </div>

  <app-chat-sidebar></app-chat-sidebar>
</div>
