<div class="container-fluid app-employer-partners">
  <div class="row">
    <div class="col-12 wrapper">
      <div class="title">Employer Partners</div>
      <div class="row">
        <div class="col-10 offset-1 brands">
          <img class="brand" [src]="brand" alt="" *ngFor="let brand of brands | slice:0:4;">
        </div>
        <div class="col-10 offset-1 brands">
          <img class="brand" [src]="brand" alt="" *ngFor="let brand of brands | slice:5:11;">
        </div>
      </div>
      <div class="row">
        <div class="col-3 offset-2 cto">
          <div class="cto-header">Join us today!</div>
          <div class="cto-body">Create an account and learn how to be an employer partner.</div>
        </div>
        <div class="col-2 offset-3 d-flex justify-content-center align-items-center">
          <button class="app-btn app-btn-primary" (click)="openDialog('SIGNUP')">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
