@use 'app' as *;
@import 'app-components';
@import 'bootstrap-mixins';

$frame-width: 1440px; // original viewport/frame width
$frame-height: 533px; // original viewport/frame height

.app-employer-partners {
  @include font-roboto;

  .wrapper {
    padding: calcRem(30) 0;

    .title {
      margin-bottom: calcRem(45);

      font-size: 48px;
      font-weight: bold;
      line-height: 56px;
      text-align: center;

      color: $color-dark-blue;
    }

    .brands {
      margin-bottom: calcRem(45);
      text-align: center;

      display: flex;
      justify-content: space-between;

      .brand {
        height: calcVw(82.31px, 1440px);
        filter: grayscale(1);
        transition: filter 500ms ease-in-out 250ms;

        &:hover {
          filter: grayscale(0);
        }
      }
    }

    .cto {
      &-header {
        margin-bottom: calcRem(10);

        font-size: scaleByViewportWidth(11px, 48px, 320px, 1440px);
        line-height: 1.17em;
        color: black;
      }

      &-body {
        font-size: scaleByViewportWidth(5px, 24px, 320px, 1440px);
        line-height: 1.17em;
        color: $color-light-gray;
      }
    }
  }
}
