<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5 class="header">
        <fa-icon class="mr-1" [icon]="['fas', 'address-book']"></fa-icon>
        <span>Create New Contact</span>
      </h5>

      <form ngNoForm [formGroup]="formGroup">
        <mat-form-field class="w-100" appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" type="text">
        </mat-form-field>

        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" type="text">
        </mat-form-field>

        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" type="text">
        </mat-form-field>

        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text">
        </mat-form-field>

        <mat-form-field class="w-100" appearance="standard">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" type="text">
        </mat-form-field>

        <div class="mt-2 text-right">
          <button class="btn btn-primary btn-sm" [disabled]="disabled$ | async" (click)="onSubmit()">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
