<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header faq-header">
          <h3>FAQ</h3>
        </div>
        <div class="card-body">
          <!-- <div *ngFor="let faq of faqs | async">
            <h5 class="text-capitalize text-primary">{{ faq.question }}</h5>
            <p>{{ faq.answer }}</p>
            <br>
          </div> -->

          <p class="faq-intro">
            Welcome to the Plugged Portal Help Center! We understand that you
            have questions, in fact, we have had questions too. Therefore, we
            created this Frequently Asked Questions page to make sure we are
            addressing them. Please see below answers about issues ranging from
            uploading private photos, to posting job, events, sending secured
            messages and everything in between. If you can’t find a solution to
            your problem, you can email Customer Support at
            <a href="mailto:support@getplug.io">support@getplug.io</a>
            <br />
            <br />
            When you email us, and in order for us to better serve you in
            addressing the issues you faced accordingly, please describe the
            issue you are facing in this format:
          </p>

          <div class="faq-contact-structure faq-paragraph">
            <ol class="list-group list-group-flush">
              <li>Your name and email</li>
              <li>Describe what happened in detail</li>
              <li>Attach Screenshot or Video (if available)</li>
              <li>Give us 72 hours</li>
              <li>
                If that does not work then feel free to book a calendar invite
                with us to walk us thru the issue you had.
              </li>
            </ol>
          </div>

          <p class="faq-paragraph">
          <h4 class="faq-paragraph-title">WHAT IS PLUGGED?</h4>
          PLUGGED is the simplest solution with a complex algorithm created to
          solve the diversity issue in Corporate America. Simply put it like
          this, we are enabling companies to increase campus recruiting
          efficiency at Historical Black Colleges and Universities.

          <p class="faq-paragraph">
          <h4 class="faq-paragraph-title">
            How Does PLUGGED Make Candidate Recommendations?
          </h4>
          The beauty really happens behind the scenes, where PLUGGED powerful
          algorithm "IKENNA" analyzes users' behavior and look-alike matching,
          for super accurate results - but that's the complicated stuff. The
          easiest answer is that we match your job description and keywords with
          the candidate's major, classification years of experience, background,
          skills, and location.

          <p class="faq-paragraph">
          <h4 class="faq-paragraph-title">
            Why Is Creating A Profile Important? What Do You Do With The
            Information?
          </h4>
          PLUGGED wants to make recruiting more human -- and put names and faces
          behind the companies who are hiring. Ensure you include your company’s
          email address, first and last name, headline (or title), location and
          job function when creating your account. We make sure that your
          profile won't be accessible to the candidate until there is a match
          and you give us the permission.

          <p class="faq-paragraph">
          <h4 class="faq-paragraph-title">
            What Happens When I Match With A Candidate?
          </h4>
          You get instantly connected! A push notification followed by an email
          introduction is triggered after the match, notifying you and the
          candidate. At this point, you can view additional information about
          the candidate and get in touch with him or her directly - via email or
          chat. Just the two of you talking, no one else.
          <p class="faq-paragraph">
          <h4 class="faq-paragraph-title">
            Do You Have Candidates From All Over The U.S.?
          </h4>
          PLUGGED wants to make recruiting more human -- and put names and faces
          behind the companies who are hiring. Ensure you include your company’s
          email address, first and last name, headline (or title), location and
          job function when creating your account. We make sure that your
          profile won't be accessible to the candidate until there is a match
          and you give us the permission.

          <div class="faq-qa-section">
            <div class="faq-qa-heading text-center">
              Please find your questions on HUSB-PLUGGED below, then click to
              expand the answer
            </div>

            <div class="faq-qa-questions">
              <ol>
                <li>
                  <!-- 1 -->
                  <p class="faq-qa-question">
                    How long does it take for my profile to be approved?
                  </p>

                  <p class="faq-qa-answer">
                    Typically, in less than 24 hours, but can sometimes take up
                    to 48-71 hours. To ensure the quality and sincerity of the
                    members on HUSB-PLUGGED, we review and approve each profile
                    manually before they have access to the HUSB-PLUGGED PORTAL
                    and can post jobs and events.
                    <br />
                    <br />
                    Do not worry! You can still browse the site and access share
                    your amazing opportunities to students once your profile is
                    approved.
                  </p>
                </li>

                <li>
                  <!-- 2 -->
                  <p class="faq-qa-question">Account Login & Sign Up</p>

                  <p class="faq-qa-answer">

                  <ul class="faq-sub-list">
                    <li>
                      <p class="faq-sub-header">2.1 I cannot log in to the site</p>

                      <p>
                        First, please be sure are you entering your (work email
                        address) and password correctly. If you need a new
                        password, please click on the <span class="text-red">“forgot password”</span> in the
                        login screen. Be sure to input the email address you
                        used to create your account.
                        <div class="faq-image">
                          <img src="assets/images/faq/login.png" alt="" srcset="">
                        </div>
                        TIP: Check your spam/junk mail folder if you do not see
                        a prompt password reset email. Occasionally, email
                        providers will automatically mark our messages as spam.
                        If you still cannot log into your account, please
                        contact <a class="text-red" href="#">Customer Support</a>.
                    </li>

                    <li>
                      <p class="faq-sub-header">2.2 I did not receive an activation email</p>

                      <p>
                        Please check your spam/junk mail folder for the activation email. Occasionally email providers will automatically mark our messages as spam. If you do not see an activation email after a few minutes, or in your spam/junk folder, please contact <a class="text-red" href="#">Customer Support</a>
                      </p>
                    </li>

                  </ul>
                </li>

                <li>
                  <!-- 3 -->
                  <p class="faq-qa-question">
                    Having trouble uploading my photos to the site?
                  </p>

                  <p class="faq-qa-answer">
                    Corporate partners can upload their profile photos and a
                    cover page by navigating to Account Settings at the bottom
                    left of the home screen or by navigating here
                    <a href="https://husb.getplug.io/e/account/settings">
                      https://husb.getplug.io/e/account/settings
                    </a>
                    <br />
                    <br />
                    Most uploads happen successfully, but if for some reason you
                    are having difficulty, please email support@getplug.io with
                    the following:
                  </p>

                  <ul class="faq-unstyled-ul">
                    <li>Your company</li>
                    <li>The email address used to create the account</li>
                    <li>The desired photos attached</li>
                  </ul>
                  <br />
                  <br />
                  You can, at any point, navigate to
                  <a href="https://husb.getplug.io/e/account/settings">
                    https://husb.getplug.io/e/account/settings
                  </a>
                  to re-arrange the settings on the photos or attempt to upload
                  a different photo.
                </li>

                <li>
                  <!-- 4 -->
                  <p class="faq-qa-question">
                    Account Settings
                  </p>

                  <p class="faq-qa-answer">

                  <ul class="faq-sub-list">
                    <li>
                      <p class="faq-sub-header">
                        4.1 If I deactivate my account, can I get it back?
                      </p>

                      <p>
                        Yes, if you deactivate your account, you may log back in
                        to reactivate it. You will be sent a reactivation email
                        with step-by-step instructions.
                      </p>
                    </li>

                    <li>
                      <p class="faq-sub-header">
                        4.2 I forgot my password!
                      </p>

                      <p>
                        Reset your password <a class="text-red" href="#">here</a> (include forgot password link). Be sure to input the email address you used to create your account.
                        <br />
                        <br />
                        <b>TIP:</b> Check your spam/junk mail folder if you do not see a prompt password reset email. Occasionally, email providers will automatically mark our messages as spam
                      </p>
                    </li>

                    <li>
                      <p class="faq-sub-header">
                        4.3 I would like to change the email address on my account.
                      </p>

                      <p>
                        To protect you, the Universities, students, and the company you represent, we do not allow our corporate partners to change their email. You cannot change your email address. If you no longer work for the company you signed up for, then please reach out to us to be included.
                      </p>
                    </li>
                  </ul>
                </li>

                <li>
                  <!-- 5 -->
                  <p class="faq-qa-question">
                    Events
                  </p>

                  <p class="faq-qa-answer">
                    <ol class="faq-sub-list">
                      <li>
                        <p class="faq-sub-header">5.1 Posting Events</p>

                        <p>
                          All corporate partners that are on the Plugged Portal, can request to host events from Howard University School of Business Center of Career Excellence. These events may be hosted at the University's campus, or virtually.
                          <br />
                          <br />
                          Here is a how to request events via Plugged Portal:

                          <ol>
                            <li>Click on Events on the dashboard orx in the left navigation bar </li>
                            <li>
                              Click on the Request Event tab in the upper-right corner
                              <div class="faq-image">
                                <img src="assets/images/faq/events.png" alt="" srcset="">
                              </div>

                            </li>
                            <li>Fill in the necessary Event form into the following fields:

                              <ol>
                                <li>
                                  <p class="text-bold">Details</p>
                                  <ul>
                                    <li>
                                      <span class="text-bolder">Event Title</span>
                                    </li>
                                    <li>
                                      <span class="text-bolder">Meeting Invite Link</span>
                                      Meeting Invite Link: Due to COVID-19, all events are hosted virtually. This is where students will go to attend your event (e.g. a link to Zoom, Webex, Microsoft Teams). Students will find this link where they would normally find the location of an in-person event and it will automatically be included in their calendar
                                    </li>
                                    <li>
                                      <span class="text-bolder">Primary Contact</span>
                                    </li>
                                    <li>
                                      <span class="text-bolder">Secondary Contact</span>
                                    </li>
                                    <li>
                                      <span class="text-bolder">Description</span>
                                    </li>
                                  </ul>
                                </li>

                                <li>
                                  <p class="text-bold">Target Audience & TimeSlot</p>
                                  <ol>
                                    <li>
                                      Target University
                                    </li>
                                    <li>
                                      School
                                    </li>
                                    <li>
                                      Target Classification
                                    </li>
                                    <li>
                                      Target Majors
                                    </li>
                                    <li>
                                      Event Type: Information Session, Professional Development Workshop, Social Engagement/Networking
                                    </li>
                                    <li>
                                      Event Timeslot
                                    </li>

                                  </ol>
                                </li>
                                <li>
                                  Campus Event Partners
                                </li>
                              </ol>
                            </li>
                          </ol>
                      </li>

                      <li>
                        <p class="faq-sub-header">Event Description: </p>

                        <p>
                          Please check your spam/junk mail folder for the activation email. Occasionally email providers will automatically mark our messages as spam. If you do not see an activation email after a few minutes, or in your spam/junk folder, please contact <a class="text-red" href="#">Customer Support</a>
                        </p>
                      </li>

                    </ol>
                </li>

                <li>
                  <!-- 6 -->
                  <p class="faq-qa-question">
                    How long does it take for my profile to be approved?
                  </p>

                  <p class="faq-qa-answer">
                    <ol class="faq-sub-list">
                      <li>
                        <p class="faq-sub-header">
                          Why can’t I send messages or offers?
                        </p>

                        <p>
                          In order for our existing members to have a positive experience on the site, we don’t permit new accounts to send offers until they have completed a profile, uploaded a photo, and both have been approved
                        </p>
                      </li>

                      <li>
                        <p class="faq-sub-header">
                          Accessing My Messages?
                        </p>

                        <p>
                          You can access your messages by hovering to the top right corner to “My Account” and clicking on the small chat icon.

                          <div class="faq-image">
                            <img src="assets/images/faq/message.png" alt="" srcset="">
                          </div>

                          We wanted to make it simpler to easily engage students immediately as you log in. We took the step and included a chat icon on the dashboard. You will notice the small chat icon on the right of every page. When you click on the chat icon, it will open your chat messages.

                          <div class="faq-image">
                            <img src="assets/images/faq/chat.png" alt="" srcset="">
                          </div>

                          Conversations are only available once student applies to your opportunities posted. If you have any further questions on this topic, please contact <a href="#" class="text-red">Customer Support</a>.

                      </li>

                    </ol>
                  <!-- </p> -->
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
