@use 'app' as *;
@use 'app-components' as *;

@mixin constructor($radius) {
  $diameter: $radius * 2;

  .c-lcol {
    width: $diameter;
  }

  .c-image-wrapper {
    width: $diameter;
    height: $diameter;
    border-radius: $radius;

    .c-image {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  .c-rcol {
    width: calc(100% - #{$diameter});
  }

  .c-noimage {
    @extend .c-image;
    background-color: $color-light-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      font-size: 0.75 * $radius;
      color: white;
      font-weight: bold;
      line-height: 1;
    }
  }
}

mat-form-field {
  margin-bottom: -15px;
}

/// Contact
.c {
  &-header {
    margin-bottom: 5px;
    line-height: 1;
    color: $color-dark-blue;
  }

  &-subheader {
    margin-bottom: 0;
    line-height: 1;
    color: $color-dark-gray;
  }
}

/// Contact List
.cl {
  &-item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

    @include constructor(25px);
  }

  .c-rcol {
    padding-left: 0.5rem;
  }
}

/// Contact Card
.cc {
  display: flex;
  flex-direction: column;

  @include constructor(40px);

  &-header {
    display: flex;
    align-items: center;
  }

  .c-rcol {
    padding-left: 1rem;
  }
}
