<!-- [ CONTENT-PAGE-HEADER ======== ] -->
<content-page-header title="Contacts"></content-page-header>

<!-- [ TOOLBAR ==================== ] -->
<!-- [ CONTACT-LIST ][ CONTACT-CARD ] -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12"><!-- TOOLBAR -->
      <div class="simple-toolbar container-fluid">
        <div class="simple-toolbar-body row">
          <div class="col">
            <div class="input-group filter">
              <input id="filter" class="form-control" placeholder="Filter" type="text">
              <div class="input-group-append">
                <div class="input-group-text">
                  <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="col right-side">
            <ul class="list-unstyled mr-2">
              <li>
                <button class="btn btn-primary btn-sm" (click)="onClickCreateContact()">Create Contact</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4"><!-- CONTACT_LIST -->
      <div class="card">
        <div class="card-body p-4">
          <div class="cl">
            <div class="cl-item" *ngFor="let contact of contacts$ | async" (click)="onClickReadContact(contact)">
              <div class="c-lcol c-image-wrapper">
                <img class="c-image"
                     alt="Contact Image"
                     src=""
                     *ngIf="false; else imgPlaceholder"
                />
                <ng-template #imgPlaceholder>
                  <div class="c-noimage">
                      <span class="c-noimage-text">
                        {{ contact.firstName | truncate:1 }}{{ contact.lastName | truncate:1 }}
                      </span>
                  </div>
                </ng-template>
              </div>

              <div class="c-rcol">
                <h4 class="c-header">{{ contact.firstName + ' ' + contact.lastName }}</h4>
                <h5 class="c-subheader">{{ contact.title }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8"><!-- CONTACT_CARD -->
      <div [appStickyPosition]="'.page-main-header'">
        <ng-content *ngTemplateOutlet="sCreate; context:{formGroup: formGroup}"></ng-content>
        <ng-content *ngTemplateOutlet="sRead; context:{contact:(selectedContact$ | async)}"></ng-content>
      </div>
    </div>
  </div>
</div>

<!-- STATE: CREATE-->
<ng-template #sCreate let-formGroup="formGroup">
  <div class="card"
       *ngIf="(currentState$ | async) === state.CREATE || (currentState$ | async) === state.UPDATE"
       [formGroup]="formGroup">
    <div class="card-body">
      <div class="cc">
        <div class="cc-header">
          <div class="c-lcol c-image-wrapper">
            <div class="c-noimage">
              <span class="c-noimage-text">
                {{ fullNameAbbreviation$ | async }}
              </span>
            </div>
          </div>
          <div class="c-rcol">
            <div class="row">
              <mat-form-field class="col">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" type="text">
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" type="text">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-6">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" type="text">
              </mat-form-field>
            </div>
            <div class="row mt-3">
              <mat-form-field class="col">
                <input matInput formControlName="email" placeholder="Email" type="text">
                <fa-icon class="mr-1" matSuffix [icon]="['fas', 'paper-plane']"></fa-icon>
              </mat-form-field>
              <mat-form-field class="col">
                <input matInput formControlName="phoneNumber" placeholder="Phone Number" type="text">
                <fa-icon class="mr-1" matSuffix [icon]="['fas', 'phone']"></fa-icon>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="currentState$ | async; let cState">
          <button class="btn btn-primary btn-sm float-right"
                  [innerHTML]="getSubmitButtonText(cState)"
                  (click)="onClickSubmit(cState)">
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!-- STATE: READ -->
<ng-template #sRead let-contact="contact">
  <div class="card" *ngIf="(currentState$ | async) === state.READ && contact">
    <div class="card-body">
      <div class="cc">
        <div class="cc-header">
          <div class="c-lcol c-image-wrapper">
            <img class="c-image"
                 alt="Contact Image"
                 src=""
                 *ngIf="false; else clImgPlaceholder"
            />
            <ng-template #clImgPlaceholder>
              <div class="c-noimage">
                  <span class="c-noimage-text">
                    {{ contact.firstName | truncate:1 }}{{ contact.lastName | truncate:1 }}
                  </span>
              </div>
            </ng-template>
          </div>
          <div class="c-rcol">
            <h3 class="c-header">
              <span>{{ fullName(contact) }}</span>
              <button class="btn btn-danger btn-sm float-right" (click)="onClickDeleteContact(contact)">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
              </button>
              <button
                class="btn btn-light btn-sm float-right mr-1"
                [innerHTML]="'Modify'"
                (click)="onClickUpdateContact(contact)">
              </button>
            </h3>
            <h4 class="c-subheader mb-3">{{ contact.title }}</h4>
            <div class="row">
              <div class="col">
                <fa-icon class="mr-1" [icon]="['fas', 'paper-plane']"></fa-icon>
                <span>{{ contact.email }}</span>
              </div>
              <div class="col">
                <fa-icon class="mr-1" [icon]="['fas', 'phone']"></fa-icon>
                <span>{{ contact.phoneNumber | phone:'US' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
