<div class="wrapper">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input #inputElement
           matInput
           placeholder="..."
           type="text"
           [formControl]="control"
           [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <mat-option class="clickable-option" (click)="createNewContact()">Create New Contact</mat-option>

      <mat-option *ngFor="let contact of filteredContacts | async; let l = count" [value]="contact">
        {{ fullName(contact) }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <fa-icon *ngIf="state$ | async; let state"
           [icon]="getIcon()"
           (click)="onIconClick($event, state)"></fa-icon>
</div>
