@use 'app-colors' as *;

:host {
  display: inline-block;
}

mat-form-field {
  width: 100%;
}

.wrapper {
  position: relative;
}

fa-icon {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: calc(50% - 20px);
  cursor: pointer;
}

.clickable-option {
  color: $color-purple;
  font-weight: 500;
  font-style: italic;
}

input[disabled] {
  color: $color-purple;
  font-weight: 500;
}
