<div class="contact-name">{{ fullName(contact) }}</div>
<div class="contact-title">{{ contact.title }}</div>
<div class="container-fluid mt-2 contact-info">
  <div class="row">
    <div class="col p-0">
      <fa-icon class="mr-1" [icon]="['fas', 'paper-plane']"></fa-icon>
      <span>{{ contact.email }}</span>
    </div>
    <div class="col p-0">
      <fa-icon class="mr-1" [icon]="['fas', 'phone']"></fa-icon>
      <span>{{ contact.phoneNumber | phone:'US' }}</span>
    </div>
  </div>
</div>
