@use 'app-functions' as *;
@use 'app-colors' as *;

.contact {
  &-name {
    font-size: calcRem(16px);
    font-weight: 600;
    color: $color-dark-blue;
  }
  &-title {
    font-size: calcRem(14px);
    font-weight: 400;
    font-style: italic;
    color: $color-dark-gray;
  }
  &-info {
    font-size: calcRem(12px);
  }
}
