<div class="container-fluid app-footer">
  <div id="top" class="row">
    <div id="top-inside" class="col-10 offset-1">
      <div class="cta-download">
        <div class="header">Download Now</div>
        <div class="body">
          <div class="cta-download-badge cursor-pointer"
               [inlineSVG]="'/assets/images/badges/app-store/app-store-badge.svg'"
               [setSVGAttributes]="{'width':'100%','height':'100%'}"
               (click)="navigateToExternalPlatform('ios')"></div>
          <div class="cta-download-badge cursor-pointer"
               [inlineSVG]="'/assets/images/badges/google-play/google-play-badge.svg'"
               [setSVGAttributes]="{'width':'100%','height':'100%'}"
               (click)="navigateToExternalPlatform('android')"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom" class="row">
    <div class="col-10 offset-1">
      <div class="cto">
        <div class="cto-header">Follow Us</div>
        <div class="brands">
          <fa-stack class="brand brand-youtube">
            <fa-icon class="circle" stackItemSize="2x" [icon]="faCircle"></fa-icon>
            <fa-icon stackItemSize="1x" [icon]="faYoutube" [inverse]="true"></fa-icon>
          </fa-stack>
          <fa-stack class="brand brand-twitter" (click)="navigateToExternalPlatform('twitter')">
            <fa-icon class="circle" stackItemSize="2x" [icon]="faCircle"></fa-icon>
            <fa-icon stackItemSize="1x" [icon]="faTwitter" [inverse]="true"></fa-icon>
          </fa-stack>
          <fa-stack class="brand brand-facebook" (click)="navigateToExternalPlatform('facebook')">
            <fa-icon class="circle" stackItemSize="2x" [icon]="faCircle"></fa-icon>
            <fa-icon stackItemSize="1x" [icon]="faFacebookF" [inverse]="true"></fa-icon>
          </fa-stack>
        </div>
      </div>
      <div class="links">
        <div class="link">
          <div class="link-header">Students</div>
          <ul class="list-unstyled link-body">
            <li>Alumni</li>
            <li>PLUGGED Checkin Tool</li>
          </ul>
        </div>
        <div class="link">
          <div class="link-header">Employers</div>
          <ul class="list-unstyled link-body">
            <li>Divisio</li>
            <li>Career Fair Integration</li>
          </ul>
        </div>
        <div class="link">
          <div class="link-header">Career Service Centers</div>
          <ul class="list-unstyled link-body">
            <li>Webinars</li>
          </ul>
        </div>
        <div class="link">
          <div class="link-header">Development & Partnerships</div>
          <ul class="list-unstyled link-body">
            <li>ATS Integration</li>
            <li>PLUGGED OS</li>
            <li>PLUGGED AI</li>
            <li>PLUGGED Engineering</li>
          </ul>
        </div>
        <div class="link">
          <div class="link-header">Stay Connected</div>
          <ul class="list-unstyled link-body">
            <li>PLUGGED Help Center</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10 offset-1">
      <div id="foot">
        <div class="left-side">
          <div class="d-flex flex-row align-items-center">
            <img class="brand" alt="Plugged Logo" [src]="logo">
            <ul class="list-inline">
              <li class="list-inline-item">About</li>
              <li class="list-inline-item footer-link" [routerLink]="['/privacy']">Privacy</li>
              <li class="list-inline-item footer-link" [routerLink]="['/terms']">Terms & Conditions</li>
              <li class="list-inline-item">Plugged Products</li>
            </ul>
          </div>
        </div>
        <div class="right-side">
          <ul class="list-inline">
            <li class="list-inline-item footer-link" [routerLink]="['/help']">
              <div class="d-flex flex-row align-items-center">
                <fa-icon class="help-icon" [icon]="faQuestionCircle"></fa-icon>
                <div>Help</div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex flex-row align-items-center">
                English - United States
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
