@use 'app' as *;
@import 'app-components';
@import 'bootstrap-mixins';

ul {
  margin: 0;
}

.app-footer {
  @include font-roboto;

  #top {
    @include aspect-ratio-image-box('', 1440px, 210px);

    background-color: $color-light-purple;

    &-inside {
      background-image: url('/assets/images/welcome/sections/footer/shapes-1.svg'),
      url('/assets/images/welcome/sections/footer/shapes-2.svg');
      background-position: left center, right 0 center;
      background-repeat: no-repeat;
    }
  }

  #bottom {
    .cto {
      border-bottom: 1px solid rgba(112, 112, 112, 0.1);

      margin-bottom: calcRem(20);
      padding: calcRem(10) 0;
      font-size: scaleByViewportWidth(5px, 28px, 320px, 1440px);
      line-height: 1.18em;

      display: flex;
      flex-direction: row;
      align-items: center;

      &-header {
        margin-right: calcRem(25);
      }

      .brands {
        display: flex;
        flex-direction: row;

        .brand {
          font-size: scaleByViewportWidth(5px, 14px, 320px, 1440px);
          line-height: 1em;
          cursor: pointer;

          &-youtube {
            .circle {
              color: $color-brand-youtube-red;
            }
          }

          &-twitter {
            .circle {
              color: $color-brand-twitter-blue;
            }
          }

          &-facebook {
            .circle {
              color: $color-brand-facebook-blue;
            }
          }
        }
      }
    }

    .links {
      margin-bottom: calcRem(50);

      display: grid;
      grid-template-columns: 19% 19% 19% 24% 19%;

      @include media-breakpoint-down(sm) {
        grid-template-columns: 100%;
      }

      .link {
        font-size: scaleByViewportWidth(3px, 14px, 320px, 1440px);
        line-height: 1.24em;

        &-header {
          margin-bottom: calcRem(5);
          font-weight: bold;
        }

        &-body {
          font-weight: 200;

          li:not(:first-of-type) {
            margin-top: calcRem(10);
          }
        }
      }
    }

    #foot {
      border-top: 1px solid rgba(112, 112, 112, 0.1);
      padding: calcRem(10) 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      font-size: 9px;
      font-weight: 700;

      ul {
        margin: 0;
        display: inline;
      }

      .left-side {
        .brand {
          width: calcVw(34px, 1440px);
          margin-right: calcRem(4);
        }
      }

      .right-side {
        .help-icon {
          font-size: 12px;
          margin-right: calcRem(4);
        }
      }
    }
  }
  .footer-link {
    cursor: pointer;
  }
}
