<br>
<app-simple-form
  cancelButtonText="Back"
  headerTitle="Review Event"
  submitButtonText="Update"
  (cancelButtonClicked)="onCancelButtonClick()"
  (submitButtonClicked)="onSubmitButtonClick()"
>
  <div class="container-fluid" *ngIf="(event$ | async); let event">
    <div class="row">
      <div class="col-12">
        <h6 class="color-purple mb-3">Details</h6>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Title</span></div>
          <div class="readonly-field-value">{{ event.title }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Meeting Invite Link</span></div>
          <div class="readonly-field-value">{{ event.meetingInviteLink }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Primary Contact</span></div>
          <div class="readonly-field-value">
            <app-contact-stub [contact]="event.primaryContact"></app-contact-stub>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Secondary Contact</span></div>
          <div class="readonly-field-value">
            <app-contact-stub [contact]="event.secondaryContact"></app-contact-stub>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Description</span></div>
          <div class="readonly-field-value" [innerHTML]="event.description"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6 class="color-purple mt-4 mb-3">Location, Audience, Date & Time</h6>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Universities</span></div>
          <div class="readonly-field-value">
            <ul class="list-unstyled m-0">
              <li *ngIf="(university$ | async); let university">{{ university.name }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Schools</span></div>
          <div class="readonly-field-value">
            <ul class="list-unstyled m-0">
              <li *ngFor="let item of event.schools">{{ item.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Classifications</span></div>
          <div class="readonly-field-value">
            <ul class="list-unstyled m-0">
              <li *ngFor="let item of event.classifications">{{ item.name }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Majors</span></div>
          <div class="readonly-field-value">
            <ul class="list-unstyled m-0">
              <li *ngFor="let item of event.majors">{{ item.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Event Type</span></div>
          <div class="readonly-field-value" *ngIf="(permittedEventType$ | async); let permittedEventType">{{ permittedEventType.name }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Timeslot</span></div>
          <div class="readonly-field-value">
            <span>{{ event.eventTimeslot.days | join: ' ' }}</span>
            <span class="float-right">{{ timeslot(event.eventTimeslot) }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Date: First Choice</span></div>
          <div class="readonly-field-value">{{ event.firstChoiceDate | amDateFormat: 'ddd LL' }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Date: Second Choice</span></div>
          <div class="readonly-field-value">{{ event.secondChoiceDate | amDateFormat: 'ddd LL' }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Date: Third Choice</span></div>
          <div class="readonly-field-value">{{ event.thirdChoiceDate | amDateFormat: 'ddd LL' }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Campus Event Partners</span></div>
          <div class="readonly-field-value">
            <ul>
              <li *ngFor="let item of event.campusPartners">{{ item.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-simple-form>
