<content-page-header *ngIf="events$ | async; let events"
  title="Interested Applicants for {{ events.title }}"
  [breadcrumbs]="false"
></content-page-header>

<div class="row" *ngIf="students$ | async; let students">
  <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let student of students" routerLink="/e/events/{{ eventID }}/student-profile/{{ student.id }}" [state]="{ data: match }">
    <div class="card custom-card">
      <div class="card-header">
        <img alt="" class="img-fluid" src="assets/images/user-card/1.jpg">
      </div>
      <div class="card-profile">
        <img alt="" class="rounded-circle" [src]="student.profilePicture !== '' ? student.profilePicture : DEFAULT_AVATAR">

      </div>
    <div class="text-center profile-details">
      <h4 >{{ student.user.firstName }} {{ student.user.lastName }}</h4>
    </div>
    <div class="card-footer row text-center">
      <div class="col-12 col-sm-6">
        <h5 >Major</h5>
        <h6 class="total-num counter" *ngIf="student.educations.length > 0">
          <span *ngFor="let education of student.educations">{{ education.major }}</span>
        </h6>
      </div>
      <div class="col-12 col-sm-6">
        <h5 >Classification</h5>
        <h6 class="total-num counter" *ngIf="student.educations.length > 0">
          <span *ngFor="let education of student.educations">{{ education.classification }}</span>
        </h6>
      </div>
    </div>
  </div>
  </div>
</div>
