<div class="card">
  <div class="card-header">
    <h5>My Profile</h5>
  </div>

  <form
    ngNoForm
    class="profile-banner"
    *ngIf="banner$ | async; let banner"
    (change)="onFileChange($event)"
    [style.background-image]="'url(' + banner.coverPicture  + ')'"
  >
    <div class="profile-image-wrapper">
      <!-- Profile Image-->
      <label class="profile-banner-profile-label ml-5" for="imgProfile">
        <img class="rounded-circle" alt="" [src]="banner.profilePicture"/>
        <p>Change</p>
        <input id="imgProfile" class="d-none" accept="image/*" name="profilePicture" type="file">
      </label>
    </div>
    <!-- Cover/Banner Image -->
    <label class="profile-banner-cover-label btn btn-dark btn-xs m-2" for="imgCover">
      <fa-icon [icon]="['fas', 'image']"></fa-icon>
      <span class="pl-2">Change Cover</span>
      <input id="imgCover" class="d-none" accept="image/*" name="coverPicture" type="file">
    </label>
  </form>

  <div class="card-body" *ngIf="profile$ | async; let profile">
    <form ngNoForm class="theme-form mega-form row" [formGroup]="myProfileForm">
      <!-- General Information -->
      <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">General Information</h6></div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" type="text">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" type="text">
        </mat-form-field>
      </div>
      <div class="col-12 p-0">
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" mask="(000) 000-0000" type="text">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Bio</mat-label>
          <textarea matInput formControlName="bio" type="text"></textarea>
        </mat-form-field>
      </div>
      <!-- Social/Network URLS -->
      <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">Social/Network URLs</h6></div>
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput formControlName="websiteUrl" placeholder="URL" type="text">
              <mat-icon fontIcon="fa-globe" fontSet="fa" matPrefix></mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>LinkedIn</mat-label>
              <input matInput formControlName="linkedinUrl" placeholder="URL" type="text">
              <mat-icon fontIcon="fa-linkedin" fontSet="fa" matPrefix></mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Facebook</mat-label>
              <input matInput formControlName="facebookUrl" placeholder="URL" type="text">
              <mat-icon fontIcon="fa-facebook" fontSet="fa" matPrefix></mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Twitter</mat-label>
              <input matInput formControlName="twitterUrl" placeholder="URL" type="text">
              <mat-icon fontIcon="fa-twitter" fontSet="fa" matPrefix></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- TODO: include alma mater .. school and year -->
    </form>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button class="btn btn-secondary">Cancel</button>
      <button
        class="btn btn-primary ml-2"
        [disabled]="myProfileForm.invalid"
        [innerHTML]="'Update'"
        (click)="submit()"
      ></button>
    </div>
  </div>
</div>
