<div class="container-fluid pt-4">
  <div class="row">
    <div class="col call-chat-sidebar col-sm-12">
      <div class="card">
        <div class="card-body chat-body">
          <div class="chat-box">
            <!--Chat left side Start-->
            <div class="chat-left-aside">
              <div class="media" *ngIf="profile$ | async; let profile">
                <img class="rounded-circle user-image" alt="" src="./../assets/images/user/12.png">
                <div class="about">
                  <div class="name">{{ profile.firstName }} {{ profile.lastName }}</div>
                  <div class="status">
                    Status...
                  </div>
                </div>
              </div>
              <div id="people-list" class="people-list">
                <div class="search">
                  <form class="theme-form">
                    <div class="form-group">
                      <input class="form-control" placeholder="search" type="text">
                      <i class="fa fa-search"></i>
                    </div>
                  </form>
                </div>
                <ul class="list" *ngIf="chatDialogs$ | async; let chatDialogs">
                  <li class="clearfix selectable"
                      *ngFor="let item of chatDialogs"
                      (click)="loadMessages(item.id, item.occupantIds, item.name)">
                    <img class="rounded-circle user-image" alt="" [src]="DEFAULT_AVATAR">
                    <div class="status-circle away"></div>
                    <div class="about">
                      <div class="name">{{ item.name }}</div>
                      <div class="status">
                        {{ item.last_message | slice:0:20 }}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!--Chat left side Ends-->
          </div>
        </div>
      </div>
    </div>
    <div class="col call-chat-body">
      <div class="card">
        <div class="card-body p-0">
          <div class="row chat-box">
            <!--Chat right side start-->
            <div class="col pr-0 chat-right-aside">
              <!-- chat start-->
              <div class="chat">
                <!-- chat-header start -->
                <div class="chat-header clearfix">
                  <img class="rounded-circle" *ngIf="student$ | async; let student" alt="" [src]="student.profilePicture !== '' ? student.profilePicture : DEFAULT_AVATAR">
                  <div class="about" *ngIf="student$ | async; let student">
                    <div class="name">{{ student.user.firstName }} {{ student.user.lastName }}&nbsp;&nbsp;<span class="font-primary f-12">Typing...</span>
                    </div>
                    <div class="status digits">
                      Last Seen 3:55 PM
                    </div>
                  </div>
                  <ul class="list-inline float-left float-sm-right chat-menu-icons">
                    <li *ngIf="student$ | async; let student" class="list-inline-item"><a href="#"><i class="icon-search"></i></a></li>
                    <li *ngIf="student$ | async; let student" class="list-inline-item"><a href="#"><i class="icon-clip"></i></a></li>
                   <!--  <li class="list-inline-item"><a href="#"><i class="icon-headphone-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="icon-video-camera"></i></a></li> -->
                    <li *ngIf="student$ | async; let student" class="list-inline-item toogle-bar"><a href="#"><i class="icon-menu"></i></a></li>
                  </ul>
                </div>
                <!-- chat-header end -->
                <div id="chatbox" class="chat-history chat-msg-box custom-scrollbar">
                  <ul *ngIf="messages$ | async; let messages">
                    <li class="clearfix" *ngFor="let msg of messages">
                      <div class="message other-message float-right" *ngIf="msg.senderId == currentUserId">
                        <img class="rounded-circle float-right chat-user-img img-30" alt=""
                             [src]="recruiterProfile">
                        <div class="message-data">
                          <span class="message-data-time">{{msg.date_sent | date:'short'}} </span>
                        </div>
                        <p *ngIf="msg.body != '[attachment]'">{{ msg.body }}</p>
                        <div *ngIf="msg.attachments && msg.attachments.length">
                          <img class="message_attachment img-fluid" alt="attachment"
                               src="{{attachment.src}}" *ngFor="let attachment of msg.attachments"
                               (load)="loadImagesEvent($event)">
                        </div>
                      </div>

                      <div class="message my-message" *ngIf="msg.senderId != currentUserId">
                        <img class="rounded-circle float-left chat-user-img img-30" alt=""
                             src="../assets/images/user/3.png">
                        <div class="message-data text-right">
                          <span class="message-data-time">{{msg.date_sent | date:'hh:mm'}}  {{ msg.senderId }}</span>
                        </div>
                        <p *ngIf="msg.body != '[attachment]'">{{ msg.body }}</p>
                        <div *ngIf="msg.attachments && msg.attachments.length">
                          <img class="message_attachment img-fluid" alt="attachment"
                               src="{{attachment.src}}" *ngFor="let attachment of msg.attachments"
                               (load)="loadImagesEvent($event)">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- end chat-history -->
                <div class="chat-message clearfix">
                  <div class="row">
                    <div class="col-xl-12 d-flex">
                      <div class="custom-file">
                        <input id="attach_btn" class="custom-file-input" accept="image/*"
                               name="attach_file" type="file" (change)="prepareToUpload($event)"/>
                        <label class="custom-file-label" for="customFile"><i class="icon-clip"></i></label>
                      </div>
                      <div class="input-group text-box ml-2">
                        <input id="msg" class="form-control input-txt-bx"
                               name="msg"
                               placeholder="Type a message"
                               placeholder="Type a message......"
                               [(ngModel)]="message"
                        >
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" (click)="sendMessage(message)">SEND</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end chat-message -->
              </div>
              <!-- chat end -->
            </div>
            <!--Chat right side ends-->
            <div class="col pl-0 chat-menu">
              <ul id="info-tab" class="nav nav-tabs border-0 nav-info" role="tablist">
                <li class="nav-item">
                  <a id="contact-info-tab" class="nav-link active" href="#info-contact" role="tab" aria-selected="true"
                     data-toggle="tab">
                    PROFILE
                  </a>
                  <div class="material-border"></div>
                </li>
              </ul>
              <div id="info-tabContent" class="tab-content" *ngIf="student$ | async; let student">
                <div id="info-contact" class="tab-pane fade show active" role="tabpanel"
                     aria-labelledby="contact-info-tab">
                  <div class="user-profile"
                  >
                    <div class="image">
                      <div class="avatar text-center">
                        <img class="rounded-circle student-profile" alt="" [src]="student.profilePicture != '' ? student.profilePicture : DEFAULT_AVATAR">
                      </div>
                    </div>
                    <div class="user-content text-center">
                      <h5 class="text-uppercase">{{ student.user.firstName }} {{ student.user.lastName }}</h5>
                      <div class="social-media">
                        <ul class="list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                      </div>
                      <hr>
                      <div class="text-center digits">
                      </div>
                      <!-- <button class="btn btn-secondary text-center" type="button" (click)="openDialog($event, student.id, auth.user.id)"> -->
                      <button class="btn btn-secondary text-center" type="button"> 
                        Interview
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
