@use 'app' as *;

.input-group.filter {
  height: 32px;

  input {
    height: inherit;
    border-color: $color-pink;
  }

  .input-group-append {
    height: inherit;

    .input-group-text {
      color: white;
      border-color: $color-pink;
      background-color: $color-pink;
    }
  }
}

table {
  .mat-header-row {
    background-color: $color-pink;

    .mat-header-cell {
      color: whitesmoke;
    }
  }

  .mat-cell {
    font-size: 12px;
  }
}

.call-chat-sidebar {
  max-width: 320px;
}

.message_attachment {
  scale: 0.5%;
}

.custom-file {
  width: 80px;
}

.job-title {
  padding: 10px 0;
  text-align: center;
  background: #fcfcfc;
  border-bottom: 1px solid #eee;
}

.selectable {
  cursor: pointer;
}

.chat-box .about .name {
  color: #2a3142;
  font-weight: 600;
  font-size: 14px;
}

.student-profile {
  width: 120px;
  height: 120px;
}