<div class="row pt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row" *ngIf="interviewSchedule != undefined">
                    <div class="col">
                        Student:
                        <p>{{ interviewSchedule.student.qbCredential.qbFullName }}</p>
                    </div>
                    <div class="col">
                        Interview Date & Time:
                        <p>{{ interviewSchedule.date1 | date: 'medium' }}</p>
                        <p>{{ interviewSchedule.date2 | date: 'medium' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form ngNoForm [formGroup]="interviewScheduleForm" (ngSubmit)="onSubmit()">
                            <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Interview Status</mat-label>
                            <mat-select name="status" formControlName="status">
                                <mat-option *ngFor="let data of ['pending', 'approved', 'completed', 'cancel']" [value]="data">
                                {{ data }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <button class="btn btn-success btn-block btn-lg" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>