@use "app-colors" as *;
@import "theme-auth-ui";

.items {
  height: inherit;
  border-bottom: 4px solid #F6F7FB;
  overflow: hidden;

  &:hover {
    overflow-y: overlay;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 24px;
    margin-bottom: 8px;

    &:nth-of-type(odd) {
      background-color: darken(#F6F7FB, 0.8);
    }

    h6 {
      margin: 0;
    }
  }
}
