<content-page-header title="Dashboard"></content-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-simple-panel title="Jobs" [options]="jobsPanelOptions">
        <div class="items" *ngIf="jobs$">
          <div class="item" *ngFor="let job of jobs$ | async">
            <div>
              <h6>
                <a class="color-purple" [routerLink]="['../jobs/', job.id]">{{ job.name }}</a>
                <br><small>Requested {{ job.createdAt | amTimeAgo }}</small>
              </h6>
            </div>
          </div>
        </div>
      </app-simple-panel>
    </div>
    <div class="col-6">
      <app-simple-panel title="Events" [options]="eventsPanelOptions">
        <div class="items" *ngIf="events$">
          <div class="item" *ngFor="let event of events$ | async">
            <div>
              <h6>
                <a [routerLink]="['../events/', event.id]" class="color-purple">{{ event.title }}</a>
                <button *ngIf="event.approvedDate === null" class="btn btn-danger btn-sm">Pending Approval</button>
                <br><small>Requested {{ event.createdAt | amTimeAgo }}</small>
              </h6>
            </div>
          </div>
        </div>
      </app-simple-panel>
    </div>
  </div>
</div>
