<div class="card">
  <div class="card-header">
    <h5>Company Profile</h5>
  </div>
  <div class="card-body">
    <form ngNoForm [formGroup]="companyProfileForm" class="theme-form mega-form row">
      <!-- General Information -->
      <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">General Information</h6></div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Company Name</mat-label>
          <input type="text" formControlName="name" matInput>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Total Employees</mat-label>
          <input type="number" formControlName="employeeCount" matInput>
        </mat-form-field>
      </div>
      <ng-container>
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Industry</mat-label>
            <mat-select formControlName="industryId">
              <mat-option [value]="data.id"
                          *ngFor="let data of industries | async">{{ data.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Sector</mat-label>
            <mat-select formControlName="sectorId">
              <mat-option [value]="data.id"
                          *ngFor="let data of sectors | async">{{ data.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" formControlName="email" matInput>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Phone</mat-label>
          <input type="text" formControlName="phone" mask="(000) 000-0000" matInput>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea type="text" formControlName="description" matInput></textarea>
        </mat-form-field>
      </div>
      <!-- Funding -->
      <ng-container *ngIf="isStartup" formGroupName="startup">
        <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">Funding</h6></div>
        <div class="col-12 p-0">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Funding</mat-label>
              <input type="number" formControlName="totalFunding" prefix="$ " mask="comma_separator" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Funding Date</mat-label>
            <input type="text" formControlName="lastFundingDate" matInput [matDatepicker]="matDatepicker1">
            <mat-datepicker-toggle matSuffix [for]="matDatepicker1"></mat-datepicker-toggle>
            <mat-datepicker #matDatepicker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Funding Round</mat-label>
            <input type="text" formControlName="lastFundingRound" matInput [matDatepicker]="matDatepicker2">
            <mat-datepicker-toggle matSuffix [for]="matDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #matDatepicker2></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>
      <!-- Social/Network URLs -->
      <ng-container formGroupName="socialMedia">
      <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">Social/Network URLs</h6></div>
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Website</mat-label>
              <input type="text" placeholder="URL" formControlName="websiteUrl" matInput>
              <mat-icon matPrefix fontSet="fa" fontIcon="fa-globe"></mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>LinkedIn</mat-label>
              <input type="text" placeholder="URL" formControlName="linkedinUrl" matInput>
              <mat-icon matPrefix fontSet="fa" fontIcon="fa-linkedin"></mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Facebook</mat-label>
              <input type="text" placeholder="URL" formControlName="facebookUrl" matInput>
              <mat-icon matPrefix fontSet="fa" fontIcon="fa-facebook"></mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Twitter</mat-label>
              <input type="text" placeholder="URL" formControlName="twitterUrl" matInput>
              <mat-icon matPrefix fontSet="fa" fontIcon="fa-twitter"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>

      </ng-container>
    </form>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button class="btn btn-secondary">Cancel</button>
      <button class="btn btn-primary ml-2" (click)="submit()"
              [disabled]="companyProfileForm.pristine || companyProfileForm.invalid">Update
      </button>
    </div>
  </div>
</div>
