<div class="row pt-4">
  <div class="col-sm-6 col-xl-3 col-lg-6" (click)="routeToPage('pending')">
    <div class="card o-hidden">
      <div class="bg-info b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="icofont icofont-chart-histogram-alt"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Pending</span>
            <h4 class="counter">
              <ng-container>{{ pending }}</ng-container>
            </h4>
            <i class="icofont icofont-chart-histogram-alt icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-lg-6" (click)="routeToPage('upcoming')">
    <div class="card o-hidden">
      <div class="bg-info b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="icofont icofont-chart-histogram-alt"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Upcoming</span>
            <h4 class="counter">
              <ng-container>{{ upcoming }}</ng-container>
            </h4>
            <i class="icofont icofont-chart-histogram-alt icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-lg-6" (click)="routeToPage('completed')">
    <div class="card o-hidden">
      <div class="bg-info b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="icofont icofont-chart-histogram-alt"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Completed</span>
            <h4 class="counter">
              <ng-container>{{ completed }}</ng-container>
            </h4>
            <i class="icofont icofont-chart-histogram-alt icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

