<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div class="card card-purple">
        <div class="card-header header">
          <h3>
            <fa-icon class="mr-2" [icon]="['fas', 'briefcase']" (click)="onHeaderIconClick()"></fa-icon>
            {{ headerTitle }}
          </h3>
        </div>
        <div class="card-body">
          <ng-content></ng-content>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <button #cancelBtn class="btn btn-secondary"
                    (click)="onCancelButtonClick()"
                    *ngIf="cancelButtonText">{{ cancelButtonText }}</button>

            <button #submitBtn class="btn btn-primary ml-2"
                    (click)="onSubmitButtonClick()"
                    *ngIf="submitButtonText">{{ submitButtonText }}</button>

            <button #deleteBtn class="btn btn-danger ml-2"
                    *ngIf="showDeleteButton"
                    (click)="onDeleteButtonClick()">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

