<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>About Plugged</h3>
        </div>
        <div class="card-body">
          <p>Our core values are to empower companies to recruit and "RETAIN" the best diverse talent. We strongly
            believe in an inclusive environment which can foster ideas within the organization, challenge the status quo
            and eliminate unconscious bias in the workplace. We want to redefine the way individuals find the right
            opportunities and the way companies find the right talent. At our core we believe that technology should
            empower individuals to easily know their demand and get the right opportunities without the need to actively
            search for it.</p>
          <p>We developed a groundbreaking technology that brings together AI and human expertise to deliver the
            industry’s first virtual, AI-based agent, IKENNA. It works by collecting relevant data from PLUGGED’s
            ecosystem of diverse talent and companies, and then uses powerful algorithms that adjust based on a
            individuals preferences to create infinitely more accurate matches.</p>
          <p>Our DNA is a blend of artificial intelligence and human expertise. We put together a team of the best
            recruiters and data scientists from industry-leading companies like Google and Facebook. The team taught the
            robot how to incorporate a tech professionals preferences and how recruiters think and make decisions. The
            team also taught the robot how to distinguish human's behavior and access their on-demand thinking
            capabilities through their interaction on the app.</p>
        </div>
      </div>
    </div>
  </div>
</div>
