<br>
<app-simple-form
  cancelButtonText="Cancel"
  headerTitle="Review Job"
  submitButtonText="Update"
  (cancelButtonClicked)="onCancelButtonClick()"
  (submitButtonClicked)="onSubmitButtonClick()"
>
  <div class="container-fluid" *ngIf="(job$ | async); let job">
    <div class="row">
      <div class="col-12"><h6>Details</h6></div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Title</span></div>
          <div class="readonly-field-value">{{ job.name }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Hiring Goal</span></div>
          <div class="readonly-field-value">{{ job.hiringGoal }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Industry</span></div>
          <div class="readonly-field-value">{{ job.industry.name }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Employment Type</span></div>
          <div class="readonly-field-value">{{ employmentTypes.get(job.employmentType) }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Skills</span></div>
          <div class="readonly-field-value">{{ job.skills | join:'\n'}}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Experience</span></div>
          <div class="readonly-field-value">{{ job.experience }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Location</span></div>
          <div class="readonly-field-value">{{ job.locRemoteWork ? 'Remote' : job.location }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Salary</span></div>
          <div class="readonly-field-value">{{ job.salary | currency}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Start Date</span></div>
          <div class="readonly-field-value">{{ job.employmentStartDate | amDateFormat:'LL' }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>End Date</span></div>
          <div class="readonly-field-value">{{ job.employmentEndDate | amDateFormat:'LL' }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Application Deadline</span></div>
          <div class="readonly-field-value">{{ job.applicationDeadline | amDateFormat:'LLL' }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Description</span></div>
          <div class="readonly-field-value" [innerHTML]="job.description"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12"><h6>Target</h6></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Target University</span></div>
          <div class="readonly-field-value">{{ job.university.name }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Target School</span></div>
          <div class="readonly-field-value">{{ job.schools | map: name | join: '\n' }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Target Classifications</span></div>
          <div class="readonly-field-value">{{ job.classifications | map: name | join: '\n' }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Target Majors</span></div>
          <div class="readonly-field-value">{{ job.majors | map: name | join: '\n' }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Minimum GPA</span></div>
          <div class="readonly-field-value">{{ job.minGPA }}</div>
        </div>
      </div>
      <div class="col">
        <div class="readonly-field">
          <div class="readonly-field-label"><span>Graduation Date</span></div>
          <div class="readonly-field-value">{{ job.graduationDate | amDateFormat:'LL' }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12"><h6>Additional Details</h6></div>
    </div>
    <div class="row form-field">
      <div class="col-10 form-field-label">
        Would you sponsor a work visa for the candidate that is fit for the role?
      </div>
      <div class="col-2 form-field-control">{{ job.ynWorkVisaSponsor | titlecase }}</div>
    </div>
    <div class="row form-field">
      <div class="col-10 form-field-label">
        Are you willing to hire students that are temporarily authorized to work for a defined period in their
        field of study (job/internship under Optional Practical Training (OPT) / Curricular Practical Training (CPT))?
      </div>
      <div class="col-2 form-field-control">{{ job.ynTempAuthorizedWork | titlecase }}</div>
    </div>
  </div>
</app-simple-form>
