<div class="modal-background p-4">
    <h4 class="mb-4">Schedule Interview Date & Time</h4>

    <form ngNoForm [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
      <div class="row mb-2">
        <div class="col" *ngIf="jobs$ | async; let jobs">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Jobs</mat-label>
              <mat-select name="job" formControlName="job">
                <mat-option *ngFor="let job of jobs" [value]="job.name">
                  {{job.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-md-6 pr-md-1">
            <mat-form-field>
              <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Schedule Option 1" formControlName="date1"
                [min]="minDate" [max]="maxDate" [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
                [stepMinute]="stepMinute" [touchUi]="touchUi" [color]="color"
                [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
              </ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-md-6 pr-md-1">
            <mat-form-field>
              <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Schedule Option 2" formControlName="date2"
                [min]="minDate" [max]="maxDate" [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
                [stepMinute]="stepMinute" [touchUi]="touchUi" [color]="color"
                [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
              </ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
          <div class="col">
              <button class="btn btn-success btn-block btn-lg" type="submit">Change Status</button>
          </div>
      </div>
    </form>
</div>
