<br>
<app-simple-form
  [cancelButtonText]="cancelButtonText"
  [headerTitle]="title"
  [showDeleteButton]="showDeleteButton"
  [submitButtonText]="submitButtonText"
  (cancelButtonClicked)="cancel($event)"
  (deleteButtonClicked)="delete($event)"
  (submitButtonClicked)="submit($event)">
  <ng-container
    *ngTemplateOutlet="tplExpansionPanels">
  </ng-container>
</app-simple-form>

<!-- Alert Modal Delete -->
<div id="alertModalDelete" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"
     aria-labelledby="alertModalDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          Delete Job
        </h5>
      </div>
      <div class="modal-body">
        Are you sure you would like to delete this job posting?
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
        <button class="btn btn-danger" type="button" (click)="delete($event)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<ng-template #tplExpansionPanels>
  <form ngNoForm class="theme-form mega-form row" [formGroup]="formGroup">
    <mat-accordion class="col-12">
      <!-- Expansion Panel: Details -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Details</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container
          *ngTemplateOutlet="tplExpPanelDetails; context:{fg:formGroup}">
        </ng-container>
      </mat-expansion-panel>

      <!-- Expansion Panel: Location -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Location</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container
          *ngTemplateOutlet="tplExpPanelLocation; context:{fg:formGroup}">
        </ng-container>
      </mat-expansion-panel>

      <!-- Expansion Panel: Target -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Target</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container
          *ngTemplateOutlet="tplExpPanelTarget; context:{fg:formGroup}">
        </ng-container>
      </mat-expansion-panel>

      <!-- Expansion Panel: Additional Details -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Additional Details</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container
          *ngTemplateOutlet="tplExpPanelAdditionalDetails; context:{fg:formGroup}">
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</ng-template>

<ng-template #tplExpPanelDetails let-formGroup="fg">
  <div [formGroup]="formGroup">
    <!-- Job Title | Hiring Goal -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="title" type="text">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Hiring Goal</mat-label>
          <input matInput formControlName="hiringGoal" type="number">
        </mat-form-field>
      </div>
    </div>

    <!-- Industry | Employment Type -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Industry</mat-label>
          <mat-select formControlName="industryId">
            <mat-option *ngFor="let item of industries$ | async"
                        [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Employment Type</mat-label>
          <mat-select formControlName="employmentType" (selectionChange)="onEmploymentTypeChange($event)">
            <mat-option *ngFor="let item of employmentTypes | keyvalue"
                        [value]="item.key">{{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Skills Required | Experience | Salary -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Skills</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let skill of skills" [removable]="true" (removed)="onRemoveSkill(skill)">
              {{ skill }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <input
            placeholder="Type Here..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            (matChipInputTokenEnd)="onAddSkill($event)">
          <small id="skills" class="form-text text-muted">Use comma (,) to separate skills</small>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Experience</mat-label>
          <input matInput formControlName="experience" type="number">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Salary</mat-label>
          <input matInput formControlName="salary" type="number">
        </mat-form-field>
      </div>
    </div>

    <!-- Employment ( Start Date | End Date ) | Application Deadline -->
    <div class="row">
      <div class="col-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="employmentStartDate" [matDatepicker]="dpEmplyStartDate">
          <mat-datepicker-toggle matSuffix [for]="dpEmplyStartDate"></mat-datepicker-toggle>
          <mat-datepicker #dpEmplyStartDate
                          startView="multi-year"
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100" appearance="outline" *ngIf="formGroup.value.employmentType !== 'FULL_TIME'">
          <mat-label>End Date</mat-label>
          <input matInput formControlName="employmentEndDate" [matDatepicker]="dpEmplyEndDate">
          <mat-datepicker-toggle matSuffix [for]="dpEmplyEndDate"></mat-datepicker-toggle>
          <mat-datepicker #dpEmplyEndDate
                          startView="multi-year"
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Application Deadline</mat-label>
          <input matInput formControlName="applicationDeadline" [matDatepicker]="dpApplDeadline">
          <mat-datepicker-toggle matSuffix [for]="dpApplDeadline"></mat-datepicker-toggle>
          <mat-datepicker #dpApplDeadline
                          startView="multi-year"
          ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Description -->
    <div class="row">
      <div class="col-12">
        <!-- <mat-form-field class="w-100" appearance="outline">
          <mat-label>Description</mat-label> -->
          <!-- <textarea matInput cols="30" formControlName="description" rows="10"></textarea> -->
          <ckeditor name="editor" [ngModelOptions]="{standalone: true}" (change)="onEditorChange($event)" [editor]="Editor" [(ngModel)]="editorModel.editorData"></ckeditor>

        <!-- </mat-form-field> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplExpPanelLocation let-formGroup="fg">
  <div [formGroup]="formGroup">
    <!-- Remote Work -->
    <div class="row">
      <div class="col-6">
        <mat-slide-toggle
          formControlName="locRemoteWork"
          [checked]="locRemoteWorkChecked"
          (change)="onRemoteWorkChange($event)">
          {{ 'Remote work ' + (locRemoteWorkChecked ? 'available' : 'unavailable') }}
        </mat-slide-toggle>
      </div>
    </div>
    <!-- Main Address | Designator -->
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Main Address</mat-label>
          <input #emplyLocation="ngx-places"
                 matInput
                 formControlName="location"
                 type="text"
                 [options]="lcOptions"
                 [required]="!locRemoteWorkChecked"
                 (onAddressChange)="onLocationChange($event)"
                 ngx-google-places-autocomplete>
        </mat-form-field>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #tplExpPanelTarget let-formGroup="fg">
  <div [formGroup]="formGroup">
    <!-- Target Universities/Schools -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target University</mat-label>
          <mat-select formControlName="universityId"
                      (selectionChange)="onUniversityChange($event)">
            <mat-option *ngFor="let value of universities$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6" *ngIf="fc.universityId.valid">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target Schools</mat-label>
          <mat-select formControlName="schools"
                      multiple
                      (selectionChange)="onSchoolSelectionChange($event)">
            <mat-option *ngFor="let value of schools$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Target Classifications | Target Majors -->
    <div class="row" *ngIf="fc.schools.valid">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target Classifications</mat-label>
          <mat-select formControlName="classifications" multiple>
            <mat-option *ngFor="let value of classifications$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Target Majors</mat-label>
          <mat-select formControlName="majors" multiple>
            <mat-option *ngFor="let value of majors$ | async" [value]="value.id">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Minimum GPA | Graduation Date -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Minimum GPA</mat-label>
          <input matInput formControlName="minGPA" type="number" min="0.0" max="4.0" step="0.1">
          <mat-error *ngIf="fc.minGPA.invalid">Should be a decimal number on a scale of 0.0 to 4.0</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline" [appMatMonthYearDatePicker]="dp">
          <mat-label>Graduation Date</mat-label>
          <input matInput formControlName="graduationDate" [matDatepicker]="dp">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="onSelectedMonth($event, dp)"
                          (yearSelected)="onSelectedYear($event)"
          ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tplExpPanelAdditionalDetails let-formGroup="fg">
  <div [formGroup]="formGroup">
    <!-- Work Visa Sponsorship -->
    <div class="row form-field">
      <div class="col-9 form-field-label">
        Would you sponsor a work visa for the candidate that is fit for the role?
      </div>
      <div class="col-3 form-field-control">
        <div class="flex-box">
          <mat-radio-group formControlName="ynWorkVisaSponsorship">
            <mat-radio-button *ngFor="let item of yesOrNo | keyvalue"
                              [value]="item.key">{{ item.value }}&nbsp;</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <!-- Temporary Authorized Work -->
    <div class="row form-field">
      <div class="col-9 form-field-label">
        Are you willing to hire students that are temporarily authorized to work for a defined period in their
        field of study (job/internship under Optional Practical Training (OPT) / Curricular Practical Training (CPT))?
      </div>
      <div class="col-3 form-field-control">
        <div class="flex-box">
          <mat-radio-group formControlName="ynTemporaryAuthorizedWork">
            <mat-radio-button *ngFor="let item of yesOrNo | keyvalue"
                              [value]="item.key">{{ item.value }}&nbsp;</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
</ng-template>
