<div class="container-auth">
  <div class="wrap-form">
    <span class="form-title">Reset Password</span>
    <div *ngIf="resetStatus.message !=''" class="alert" [ngClass]="resetStatus.success ? 'alert-success' : 'alert-danger'">
      {{ resetStatus.message }}
    </div>

    <div class="container wrap-container">
      <form ngNoForm [formGroup]="resetForm" class="row">
        <div class="col-12 col-md-12 pr-md-1">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="wrap-button">
      <button #submitBtn class="button" (click)="submit()">Send</button>
    </div>

  </div>
</div>
