<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4>Applicant Details</h4>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="student$ | async; let student">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <img
              class="img-70 rounded-circle"
              alt="Student Profile Image"
              [src]="student.profilePicture !== '' ? student.profilePicture : DEFAULT_AVATAR"/>
          </div>
          <div class="col">
            <h3>{{ student.user.lastName }}, {{ student.user.firstName }}</h3>
            <span>{{ student.user.email }}</span>
            <mat-chip-list *ngIf="student.skills; let skills">
              <mat-chip selectable="false" *ngFor="let skill of skills">
                {{ skill }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col">
            <h4>About Educations</h4>
            <div class="card" *ngFor="let education of student.educations">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <b>University</b>
                    <span class="pull-right">{{ education.collegeName }}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Year</b>
                    <span class="pull-right">{{ education.expectedGraduationYear }}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Degree</b>
                    <span class="pull-right">{{ education.degree }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <h4 class="pt-4">About Experience</h4>
            <div class="card" *ngFor="let workExperience of student.workExperiences">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <b>Company</b>
                    <span class="pull-right">{{ workExperience.workCompanyName }}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Role</b>
                    <span class="pull-right">{{ workExperience.role }}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Date</b>
                    <span class="pull-right"
                          *ngIf="workExperience.isStillWorking">{{ workExperience.startDateMonth }} {{ workExperience.startDateYear}}
                      - Present</span>
                    <span class="pull-right"
                          *ngIf="!workExperience.isStillWorking">{{ workExperience.startDateMonth }} {{ workExperience.startDateYear}}
                      - {{ workExperience.endDateMonth }} {{ workExperience.endDateYear}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header p-2">
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-lg btn-block">Details</button>
          </div>
        </div>
      </div>
      <div class="card-body p-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>School Email</b>
            <span class="pull-right">{{ student.user.email }}</span>
          </li>
          <li class="list-group-item">
            <b>Major</b>
            <span class="pull-right" *ngIf="student.educations.length > 0">
              <span *ngFor="let education of student.educations">{{ education.major }} </span>
            </span>
          </li>
          <li class="list-group-item">
            <b>Classification</b>
            <span class="pull-right" *ngIf="student.educations.length > 0">
              <span *ngFor="let education of student.educations">{{ education.classification }} </span>
            </span>
          </li>
          <li class="list-group-item">
            <b>GPA</b>
            <span class="pull-right"></span>
          </li>
          <li class="list-group-item">
            <b>VISA Status</b>
            <span class="pull-right">{{ student.visa }}</span>
          </li>
          <li class="list-group-item">
            <!-- <a class="btn btn-success btn-lg pull-right" routerLink="/e/{{jobId ? 'job/' +  jobId : 'events/' + eventID }}/student/{{ studentId }}/chat">Chat</a> -->
            <a class="btn btn-success btn-lg pull-right" (click)="initiateChat()">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
