// You can add global styles to this file, and also import other style files

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Universal Admin
@import "assets/css/flag-icon.css";
@import "assets/css/icofont.css";
@import "assets/css/responsive.css";
@import "assets/css/style.css";
@import "assets/css/themify.css";
@import "assets/css/whether-icon.css";
@import "assets/css/shepherd.css";

//Page Loader Topbar
@import "assets/pace/pace-min.css";

// Animation
@import "~animate.css/animate.min.css";

// Angular Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/custom-angular-material";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";

// Data Tables
@import "~datatables.net-dt/css/jquery.dataTables.css";

html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
}

.cursor-pointer {
  cursor: pointer !important;
}

.mat-row.row-selected {
  background-color: #1483ff;
}

.mat-row.not-paid {
  background-color: #f06339;
  .mat-cell {
    color: #fff !important;
  }
}

.mat-cell {
  margin: 3px;
  white-space: nowrap;
}

.text-no-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .mat-table.table-responsive {
    // .mat-table {
    border: 0;
    vertical-align: middle;
    // }

    caption {
      font-size: 1em;
    }

    // /*  Enable this to hide header
    .mat-header-cell {
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    // */
    .mat-row {
      // border-bottom: 5px solid #ddd;
      display: block;
      height: auto;
      padding: 1.1rem;
      min-height: unset;

      &::after {
        content: unset;
      }
    }

    .mat-cell {
      border-bottom: none;
      display: block;
      font-size: 1em;
      font-weight: bold;
      height: 30px;
      // margin-bottom: 4%;
      text-align: start;
      height: auto;
    }
    .mat-cell:before {
      /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      text-align: start;
      width: 40%;
      white-space: nowrap;
      text-overflow: ellipsis;

      font-size: 0.85em;
    }
    .mat-cell:last-child {
      border-bottom: 0;
      padding-right: 0;
    }
    .mat-cell:first-child {
      margin-top: 4%;
      padding-left: 0;
    }
  }
}
