@use 'app' as *;

.input-group.filter {
  height: 32px;

  input {
    height: inherit;
    border-color: $color-pink;
  }

  .input-group-append {
    height: inherit;

    .input-group-text {
      color: white;
      border-color: $color-pink;
      background-color: $color-pink;
    }
  }
}

table {
  .mat-header-row {
    background-color: $color-pink;

    .mat-header-cell {
      color: whitesmoke;
    }
  }

  .mat-cell {
    font-size: 12px;
    padding: 5px;
    padding-left: 0;

    &:first-of-type {
      padding-left: 24px;
  }

  &:last-of-type {
    padding-right: 24px;
  }
  }
}
