<content-page-header title="Events Posted" [breadcrumbs]="true"></content-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="simple-toolbar">
        <div class="simple-toolbar-body row">
          <!-- Left Side -->
          <div class="col">
            <div class="input-group filter">
              <input id="filter" class="form-control" placeholder="Filter" type="text">
              <div class="input-group-append">
                <div class="input-group-text">
                  <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Side -->
          <div class="col right-side">
            <ul class="list-unstyled mr-2">
              <li>
                <a class="btn btn-primary btn-sm" title="Create New Job" [routerLink]="'create'">Create Event</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <ng-container [ngTemplateOutlet]="eventsTable"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #eventsTable>
  <table class="w-100" [dataSource]="events$ | async" mat-table>

    <!-- Col: Title -->
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell width="100px">Title</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.title }}</td>
    </ng-container>

    <!-- Col: Interested Applicants -->
    <ng-container matColumnDef="candidates">
      <th *matHeaderCellDef mat-header-cell>Interested Candidates</th>
      <td *matCellDef="let elm" mat-cell>
        <a routerLink="{{ elm.id }}/applicants" [state]="{ data: elm }">
          <span class="badge badge-pill badge-primary text-center p-1">{{ (elm.matchEvents | where:isInterested).length }}</span>
        </a>
      </td>
    </ng-container>

    <!-- Col: Schools -->
    <ng-container matColumnDef="schools">
      <th *matHeaderCellDef mat-header-cell width="50px">Schools</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.schools | map:name }}</td>
    </ng-container>

    <!-- Col: Primary Contact -->
    <ng-container matColumnDef="primaryContact">
      <th *matHeaderCellDef mat-header-cell>Primary Contact</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.primaryContact.firstName + ' ' + elm.primaryContact.lastName }}</td>
    </ng-container>

    <!-- Col: Phone Number -->
    <ng-container matColumnDef="phoneNumber">
      <th *matHeaderCellDef mat-header-cell>Phone Number</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.primaryContact.phoneNumber }}</td>
    </ng-container>

    <!-- Col: Event Type -->
    <ng-container matColumnDef="eventType">
      <th *matHeaderCellDef mat-header-cell>Event Type</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.type?.permittedEventType?.name }}</td>
    </ng-container>

    <!-- Col: Event Date -->
    <ng-container matColumnDef="eventDate">
      <th *matHeaderCellDef mat-header-cell>Event Date</th>
      <td *matCellDef="let elm" mat-cell>{{ elm.approvedDate | date: 'mediumDate' }}</td>
    </ng-container>

    <!-- Col: Event Time Slot -->
    <ng-container matColumnDef="eventTimeSlot">
      <th *matHeaderCellDef mat-header-cell>Event Time Slot</th>
      <td *matCellDef="let elm" mat-cell>{{ getTime(elm.eventTimeslot.startTime) }} - {{ getTime(elm.eventTimeslot.endTime) }}</td>
    </ng-container>

    <!-- Col: Campus Event Partner -->
    <ng-container matColumnDef="campusEventPartner">
      <th *matHeaderCellDef mat-header-cell>Campus Event Partner</th>
      <td *matCellDef="let elm" mat-cell>
        <span *ngFor="let item of elm.campusPartners; let isLast=last">
          {{ item.name }}{{isLast ? '' : ', '}}
        </span>
      </td>
     <!--  <td *matCellDef="let elm" mat-cell>{{ elm.eventTimeslot.startTime + ' - ' + elm.eventTimeslot.endTime }}</td> -->
    </ng-container>

    <!-- Col: Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef width="10px"></th>
      <td mat-cell *matCellDef="let elm">
        <a [routerLink]="[elm.id]" [state]="{ data: elm }">
          <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
        </a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
  </table>
</ng-template>
