<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header faq-header">
          <h3>HELP</h3>
        </div>
        <div class="card-body">
          <!-- <div *ngFor="let faq of faqs | async">
            <h5 class="text-capitalize text-primary">{{ faq.question }}</h5>
            <p>{{ faq.answer }}</p>
            <br>
          </div> -->

          <p class="faq-intro">
            Welcome to the Plugged Portal Help Center! We understand that you
            have questions, in fact, we have had questions too. Therefore, we
            created this Frequently Asked Questions page to make sure we are
            addressing them. Please see below answers about issues ranging from
            uploading private photos, to posting job, events, sending secured
            messages and everything in between. If you can’t find a solution to
            your problem, you can email Customer Support at
            <a href="mailto:support@getplug.io">support@getplug.io</a>
            <br />
            <br />
            When you email us, and in order for us to better serve you in
            addressing the issues you faced accordingly, please describe the
            issue you are facing in this format:
          </p>

          <div class="faq-contact-structure faq-paragraph">
            <ol class="list-group list-group-flush">
              <li>Your name and email</li>
              <li>Describe what happened in detail</li>
              <li>Attach Screenshot or Video (if available)</li>
              <li>Give us 72 hours</li>
              <li>
                If that does not work then feel free to book a calendar invite
                with us to walk us thru the issue you had.
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
