.faq-header {
  text-align: center;
}

.card-body {
  font-size: .8em;
  padding: 4.8rem;
}

.faq-paragraph-title {
  font-size: 1.2em;
  color: #5656fb;
}


.faq-question {
  color: #5656fb;

}

.faq-qa-heading {
  padding: 30px 0;
  margin: 10px 20%;
  border-top: 1px solid #5656fb;
  border-bottom: 1px solid #5656fb;
  color:  #5656fb;
  font-style: italic;
}

.faq-qa-question {
  margin-top: 15px;
  color:  #5656fb;
  font-size: 1.2em;
}

.faq-sub-heading {
  color: #5656fb;
}

.faq-sub-header {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 10px;
}

.faq-paragraph {
  margin-top: 30px;
}

.faq-image {
  text-align: center;
  margin: 30px auto;
  img {
    margin: auto;
    max-width: 500px;
  }
}

.faq-paragraph.faq-contact-structure ol {
  margin-left: 50px;
}

.text-red {
  color: red;
}

.faq-sub-list > li::before {
  content: '';
  color: #5656fb;
}

.faq-unstyled-ul {
  list-style: disc;
}

// ol.faq-sub-list{
//     list-style-type: none;
//     counter-reset: item;
//     margin: 0;
//     padding: 0;

//     li {
//       display: table;
//       counter-increment: item;
//       margin-bottom: 0.6em;
//     }

//     li:before {
//       content: counters(item, ".") ". ";
//       display: table-cell;
//       padding-right: 0.6em;
//     }
// }
