<div class="card">
  <div class="card-header">
    <h5>Security & Privacy</h5>
  </div>
  <div class="card-body">
    <div *ngIf="resetStatus" class="alert " [ngClass]="resetStatus.success ? 'alert-success' : 'alert-danger'"  role="alert">
      {{ resetStatus.message }}
    </div>
    <div *ngIf="passwordChanged.message != ''" class="alert " [ngClass]="passwordChanged.success ? 'alert-success' : 'alert-danger'"  role="alert">
      {{ passwordChanged.message }}
    </div>
    <button *ngIf="!isVerified" class="btn btn-danger" (click)="sendResetRequest()">Reset Password</button>
    <form *ngIf="isVerified" ngNoForm [formGroup]="passwordRestForm" class="theme-form mega-form row">
      <!-- Password Reset -->
      <div class="col-12 p-0"><h6 class="ml-3 mt-3 mb-3 form-section-header">Password Reset</h6></div>
      <div class="col-12">
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>New Password</mat-label>
            <input type="password" formControlName="newPassword" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12">
        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="confirmPassword" matInput>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer" *ngIf="isVerified">
    <div class="pull-right">
      <button class="btn btn-secondary">Cancel</button>
      <button class="btn btn-primary ml-2" (click)="submit()">Update</button>
    </div>
  </div>
</div>
