<div class="container-auth">
  <div class="wrap-form">
    <span class="form-title">Account Login</span>

    <div class="container wrap-container">
      <form ngNoForm [formGroup]="loginForm" class="row">
        <div class="col-12 col-md-6 pr-md-1">
          <mat-form-field class="w-100" appearance="outline" >
            <mat-label>Email</mat-label>
            <input type="text" id="username" formControlName="username" matInput required>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 pl-md-1">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput required>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="wrap-button">
      <button #loginBtn class="button" (click)="login()">Login</button>
    </div>

    <div class="wrap-text text-center font-italic">
      <span class="text-regular cursor-pointer" (click)="openDialog('FORGOT')">Forgot Password?</span>
    </div>
  </div>
</div>
